<%= form_with(model: clinic) do |form| %>
  <% if clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :active %>
        <%= form.check_box :active %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :address1 %>
        <%= form.text_field :address1, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :address2 %>
        <%= form.text_field :address2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :city %>
        <%= form.text_field :city, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :state %>
        <%= form.text_field :state, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :zip_code %>
        <%= form.text_field :zip_code, class: 'form-control' %>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :contact1 %>
        <%= form.text_field :contact1, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone1 %>
        <%= form.text_field :phone1, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email1 %>
        <%= form.text_field :email1, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :contact2 %>
        <%= form.text_field :contact2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone2 %>
        <%= form.text_field :phone2, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email2 %>
        <%= form.text_field :email2, class: 'form-control' %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

