<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Edit Clinic</h4>
      </div>
      <div class='panel panel-body'>

		<%= render 'form', clinic: @clinic %>

		<%= link_to 'Show', @clinic, class: 'btn btn-primary' %>
		<%= link_to 'Cancel', clinics_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>

