<div class="row">
  <div class="col-md-12">
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h4>
          Clinics
        </h4>
      </div>
      <div class="panel-body">
        <div class='col-md-12'>
          <table id='data_table' class='display'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Active</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip code</th>
                <th>Contact</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Deleted</th>
                <th>Actions</th>
              </tr>
            </thead>      

            <tbody>     
              <% @clinics.each do |clinic| %>
                <tr>
                  <td><%= clinic.name %></td>
                  <td><%= clinic.active %></td>
                  <td><%= clinic.address1 %></td>
                  <td><%= clinic.address2 %></td>
                  <td><%= clinic.city %></td>
                  <td><%= clinic.state %></td>
                  <td><%= clinic.zip_code %></td>
                  <td><%= clinic.contact1 %></td>
                  <td><%= clinic.phone1 %></td>
                  <td><%= clinic.email1 %></td>
                  <td><%= clinic.deleted %></td>
                  <td><%= link_to 'Show', clinic %> <%= link_to 'Edit', edit_clinic_path(clinic) %> <%= link_to 'Destroy', clinic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'New Clinic', new_clinic_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>



