<div class='row'>
  <div class="col-md-3">
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Show Clinic</h4>
      </div>
      <div class='panel panel-body'>
        <div class="row">
          <div class="col-md-12"
            <p>
              <strong>Name:</strong>
              <%= @clinic.name %>
            </p>

            <p>
              <strong>Active:</strong>
              <%= @clinic.active %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @clinic.description %>
            </p>

            <p>
              <strong>Address1:</strong>
              <%= @clinic.address1 %>
            </p>

            <p>
              <strong>Address2:</strong>
              <%= @clinic.address2 %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @clinic.city %>
            </p>

            <p>
              <strong>State:</strong>
              <%= @clinic.state %>
            </p>

            <p>
              <strong>Zip code:</strong>
              <%= @clinic.zip_code %>
            </p>

            <p>
              <strong>Contact1:</strong>
              <%= @clinic.contact1 %>
            </p>

            <p>
              <strong>Phone1:</strong>
              <%= @clinic.phone1 %>
            </p>

            <p>
              <strong>Email1:</strong>
              <%= @clinic.email1 %>
            </p>

            <p>
              <strong>Contact2:</strong>
              <%= @clinic.contact2 %>
            </p>

            <p>
              <strong>Phone2:</strong>
              <%= @clinic.phone2 %>
            </p>

            <p>
              <strong>Email2:</strong>
              <%= @clinic.email2 %>
            </p>

            <p>
              <strong>Deleted:</strong>
              <%= @clinic.deleted %>
            </p>

            <p>
              <strong>Deleted at:</strong>
              <%= @clinic.deleted_at %>
            </p>

            <p>
              <strong>Deleted by:</strong>
              <%= @clinic.deleted_by %>
            </p>


            <%= link_to 'Edit', edit_clinic_path(@clinic), class: 'btn btn-primary' %>
            <%= link_to 'Cancel', clinics_path, class: 'btn btn-default' %> 
          </div>
        </div
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

