<%= form_with(model: colony_pop_event) do |form| %>
  <% if colony_pop_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(colony_pop_event.errors.count, "error") %> prohibited this colony_pop_event from being saved:</h2>

      <ul>
        <% colony_pop_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_inflow %>
    <%= form.number_field :event_inflow %>
  </div>

  <div class="field">
    <%= form.label :event_outflow %>
    <%= form.number_field :event_outflow %>
  </div>

  <div class="field">
    <%= form.label :total_inflow %>
    <%= form.number_field :total_inflow %>
  </div>

  <div class="field">
    <%= form.label :total_outflow %>
    <%= form.number_field :total_outflow %>
  </div>

  <div class="field">
    <%= form.label :altered_population %>
    <%= form.number_field :altered_population %>
  </div>

  <div class="field">
    <%= form.label :colony_id %>
    <%= form.text_field :colony_id %>
  </div>

  <div class="field">
    <%= form.label :trapping_project_id %>
    <%= form.text_field :trapping_project_id %>
  </div>

  <div class="field">
    <%= form.label :colony_population_event_type_id %>
    <%= form.text_field :colony_population_event_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
