<p id="notice"><%= notice %></p>

<h1>Colony Pop Events</h1>

<table>
  <thead>
    <tr>
      <th>Event inflow</th>
      <th>Event outflow</th>
      <th>Total inflow</th>
      <th>Total outflow</th>
      <th>Altered population</th>
      <th>Colony</th>
      <th>Trapping project</th>
      <th>Colony population event type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colony_pop_events.each do |colony_pop_event| %>
      <tr>
        <td><%= colony_pop_event.event_inflow %></td>
        <td><%= colony_pop_event.event_outflow %></td>
        <td><%= colony_pop_event.total_inflow %></td>
        <td><%= colony_pop_event.total_outflow %></td>
        <td><%= colony_pop_event.altered_population %></td>
        <td><%= colony_pop_event.colony_id %></td>
        <td><%= colony_pop_event.trapping_project_id %></td>
        <td><%= colony_pop_event.colony_population_event_type_id %></td>
        <td><%= link_to 'Show', colony_pop_event %></td>
        <td><%= link_to 'Edit', edit_colony_pop_event_path(colony_pop_event) %></td>
        <td><%= link_to 'Destroy', colony_pop_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colony Pop Event', new_colony_pop_event_path %>
