<p id="notice"><%= notice %></p>

<p>
  <strong>Event inflow:</strong>
  <%= @colony_pop_event.event_inflow %>
</p>

<p>
  <strong>Event outflow:</strong>
  <%= @colony_pop_event.event_outflow %>
</p>

<p>
  <strong>Total inflow:</strong>
  <%= @colony_pop_event.total_inflow %>
</p>

<p>
  <strong>Total outflow:</strong>
  <%= @colony_pop_event.total_outflow %>
</p>

<p>
  <strong>Altered population:</strong>
  <%= @colony_pop_event.altered_population %>
</p>

<p>
  <strong>Colony:</strong>
  <%= @colony_pop_event.colony_id %>
</p>

<p>
  <strong>Trapping project:</strong>
  <%= @colony_pop_event.trapping_project_id %>
</p>

<p>
  <strong>Colony population event type:</strong>
  <%= @colony_pop_event.colony_population_event_type_id %>
</p>

<%= link_to 'Edit', edit_colony_pop_event_path(@colony_pop_event) %> |
<%= link_to 'Back', colony_pop_events_path %>
