<% if note.created_at %>
	<tr>
		<td>		
			<p class='small'>
				<small class="text-muted">
					<%= note.created_at.strftime('%m/%d/%Y at %H:%M') %>
				</small> 
				<span class="label label-primary">
					<%= time_ago_in_words(note.created_at) %> ago 
				</span> 
				<small class="text-muted">
					&nbsp;by 
				</small> 
				
				<span class="label label-primary">
					<% if note.user %>
						<%= link_to note.user.name, note.user, class: "label-link" %> 
					<% else %>
						N/A
					<% end %>
				</span>

				<% if note.colony_id %>
					<small class="text-muted">
						&nbsp;colony:
					</small> 
					<span class="label label-primary">
						<%= link_to note.colony.colony_name ? note.colony.colony_name : "Unnamed Colony", note.colony, class: "label-link" %> 
					</span>
				<% end %>

				<% if note.colony_id && note.cat_id %>
					<small class="text-muted">
						&nbsp;cat: 
					</small> 
					<span class="label label-primary">
					    <% cat_name = note.cat && note.cat.name && !note.cat.name.empty? ? note.cat.name : "A Cat" %>
						<%= link_to cat_name, colony_cat_path(note.colony_id,note.cat_id), class: "label-link" %> 
					</span>
				<% end %>

				<% if note.trapping_project %>
					<small class="text-muted">
						&nbsp;trapping project: 
					</small> 
					<span class="label label-primary">
						<%= link_to note.trapping_project, class: "label-link" do %>
							<% if note.trapping_project.is_finalized %>
								<%= note.trapping_project.actual_date %> 
								<span class="glyphicon glyphicon-circle-check" aria-hidden="true"></span>
							<% else %>
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								<%= note.trapping_project.scheduled_date %> 
								<% if note.trapping_project.past_scheduled_date? %> 
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<% end %>
							<% end %>
						<% end %>
					</span>
				<% end %>

				<% if note.cat_event_id %>
					<small class="text-muted">
						&nbsp;event 
					</small> 
					<span class="label label-primary">
						<%= link_to note.cat_event.cat_event_type.type_name, note.cat_event, class: "label-link" %> 
					</span>
				<% end %>
			</p>
			<p class='small'><whitespace><%= note.note_text %></whitespace></p>
		</td>
	</tr>
<% end %>
