$("#notes-table tbody").prepend("<%= j render @note %>");
$("#notes-size-badge").html('<%= @number_of_notes %>');
$("#note_note_text").val("");
notes_table.ajax.reload(); // this is supposed to reload the notes table to fix page navigatin causing prepend to disapper, but it doesn't work.
$("#note_note_text").focus();