<%= form_with(model: cat_event) do |form| %>
  <% if cat_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat_event.errors.count, "error") %> prohibited this cat_event from being saved:</h2>

      <ul>
        <% cat_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :trapping_project_id %>
    <%= form.text_field :trapping_project_id %>
  </div>

  <div class="field">
    <%= form.label :cat_id %>
    <%= form.text_field :cat_id %>
  </div>

  <div class="field">
    <%= form.label :cat_event_type_id %>
    <%= form.text_field :cat_event_type_id %>
  </div>

  <div class="field">
    <%= form.label :cat_event_outcome_id %>
    <%= form.text_field :cat_event_outcome_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
