<p id="notice"><%= notice %></p>

<h1>Cat Events</h1>

<table>
  <thead>
    <tr>
      <th>Trapping project</th>
      <th>Cat</th>
      <th>Cat event type</th>
      <th>Cat event outcome</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_events.each do |cat_event| %>
      <tr>
        <td><%= cat_event.trapping_project_id %></td>
        <td><%= cat_event.cat_id %></td>
        <td><%= cat_event.cat_event_type_id %></td>
        <td><%= cat_event.cat_event_outcome_id %></td>
        <td><%= cat_event.start_date %></td>
        <td><%= cat_event.end_date %></td>
        <td><%= link_to 'Show', cat_event %></td>
        <td><%= link_to 'Edit', edit_cat_event_path(cat_event) %></td>
        <td><%= link_to 'Destroy', cat_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat Event', new_cat_event_path %>
