<p id="notice"><%= notice %></p>

<p>
  <strong>Trapping project:</strong>
  <%= @cat_event.trapping_project_id %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @cat_event.cat_id %>
</p>

<p>
  <strong>Cat event type:</strong>
  <%= @cat_event.cat_event_type_id %>
</p>

<p>
  <strong>Cat event outcome:</strong>
  <%= @cat_event.cat_event_outcome_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cat_event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cat_event.end_date %>
</p>

<%= link_to 'Edit', edit_cat_event_path(@cat_event) %> |
<%= link_to 'Back', cat_events_path %>
