<%= form_for(@status_code) do |f| %>
  <% if @status_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_code.errors.count, "error") %> prohibited this status_code from being saved:</h2>

      <ul>
      <% @status_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :status_code %><br>
    <%= f.text_field :status_code, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Choose Color</label>
    <select id="status_code_color" name="color" class="form-control">
      <%= @color_options.html_safe %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
