<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Edit Status Code</h4>
      </div>
      <div class='panel panel-body'>

		<%= render 'form' %>

		<%= link_to 'Show', @status_code, class: 'btn btn-primary' %>
		<%= link_to 'Cancel', status_codes_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>