<div class='row'>
  <div class="col-md-3">
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Status Codes</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>Status code</th>
                  <th>Description</th>
                  <th>Color</th>
                  <th>Is active</th>
                  <th>Created by</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @status_codes && @status_codes.each do |status_code| %>
                  <tr>
                    <% created_by_user = user(status_code.created_by) %>
                    <td><%= status_code.status_code %></td>
                    <td><%= status_code.description %></td>
                    <td><span class='label label-default' style="background-color:<%= status_code.color %>;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td><%= status_code.is_active %></td>
                    <td><%= created_by_user.nil? ? "deleted user" : created_by_user.name %></td>
                    <td><%= link_to 'Show', status_code %> | <%= link_to 'Edit', edit_status_code_path(status_code) %> | <%= link_to 'Destroy', status_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to 'New Status code', new_status_code_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>    
</div>