<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Status Code</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Status code:</strong>
          <%= @status_code.status_code %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @status_code.description %>
        </p>
        <p>
          <strong>Color:</strong>
          <span class='label label-default' style="background-color:<%= @status_code.color %>;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p>
          <strong>Is active:</strong>
          <%= @status_code.is_active %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= user(@status_code.created_by).name %>
        </p>

        <p>
          <strong>Deleted by:</strong>
          <%= @status_code.deleted_by %>
        </p>

        <p>
          <strong>Deleted at:</strong>
          <%= @status_code.deleted_at %>
        </p>

        <%= link_to 'Edit', edit_status_code_path(@status_code), class: 'btn btn-primary' %> 
        <%= link_to 'Cancel', status_codes_path, class: 'btn btn-default' %>
        <%= link_to 'New Status code', new_status_code_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>


