<%= form_with(model: cat_event_type) do |form| %>
  <% if @cat_event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_event_type.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @cat_event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @cat_event_type.is_system_type %>
    <div class="alert alert-info role="alert">
      This Cat Event Type is a system-required type, and may not be modified or disabled.
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :type_name %>
    <%= form.text_field :type_name, autofocus: true, class: 'form-control', disabled: @cat_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.label :type_description %>
    <%= form.text_field :type_description, class: 'form-control', disabled: @cat_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, disabled: @cat_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
