<div class='row'>
  <div class="col-md-2">
  </div>
  <div class='col-md-8'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Cat Event Types</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>

            <table id='data_table' class='display'>
              <thead>
                <tr>
                  <th>Type name</th>
                  <th>Type description</th>
                  <th>Is active</th>
                  <th>Created by</th>
                  <th>Is system type</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @cat_event_types.each do |cat_event_type| %>
                  <tr>
                    <td><%= cat_event_type.type_name %></td>
                    <td><%= cat_event_type.type_description %></td>
                    <td><%= cat_event_type.is_active %></td>
                    <td><%= user(cat_event_type.created_by) && user(cat_event_type.created_by).name %></td>
                    <td><%= cat_event_type.is_system_type ? cat_event_type.is_system_type : "false" %></td>
                    <td><%= link_to 'Show', cat_event_type %> <%= link_to 'Edit', edit_cat_event_type_path(cat_event_type) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <%= link_to 'New Cat Event Type', new_cat_event_type_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>    
</div>
