<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Cat Event Type</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Type name:</strong>
          <%= @cat_event_type.type_name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @cat_event_type.type_description %>
        </p>

        <p>
          <strong>Is active:</strong>
          <%= @cat_event_type.is_active %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= user(@cat_event_type.created_by) && user(@cat_event_type.created_by).name %>
        </p>

        <p>
          <strong>Is system type:</strong>
          <%= @cat_event_type.is_system_type ? @cat_event_type.is_system_type : "false" %>
        </p>


        <%= link_to 'Edit', edit_cat_event_type_path(@cat_event_type), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', cat_event_types_path, class: 'btn btn-default' %> 
        <% if current_user.admin %>
          <%= link_to( 'New Cat Event Type', new_cat_event_type_path, class: 'btn btn-primary') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
