<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
<%#= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="row">
    <div class="col-md-12">
  
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it) </i>
            <% if @minimum_password_length %>
                <small class="text-muted"><%= @minimum_password_length %> characters minimum</small>
            <% end %>
            <br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %> <i>(leave blank if you don't want to change it) </i><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <% if current_user_admin? %>
            <div class="form-group">
                <abbr title='This user can access the functions listed under the Tasks drop down menu'><%= f.label :admin %></abbr><br>
                <%= f.check_box :admin %>
            </div>
            <div class="form-group">
                <abbr title='This user can have colonies assigned to them'><%= f.label :field_volunteer, 'Assigned Volunteer' %></abbr><br>
                <%= f.check_box :field_volunteer %>
            </div>
          <% end %>
          <div class="well">
            <div class="form-group">
                <%= f.label :current_password %> <i>(your current password is required to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
            
            <div class="form-group">
                <%= hidden_field_tag "id", @user.id %>
                <%= f.submit "Submit", class: 'btn btn-primary' %>
                <% current_user_admin? ? path=users_path : path = root_url %>
                <%= link_to 'Cancel', path, class: 'btn btn-default' %>
            </div>
          </div>
        </div>
  
    </div>
  </div>
  
  <% end %>
  