<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Edit <%= resource_name.to_s.humanize %></h4>
      </div>
      <div class='panel panel-body'>
      <%= render "form" %>

      <div class='panel panel-heading'>
        <h4>Delete my account</h4>
      </div>
      
      <p><small class="text-muted">Completely remove user account. This is not reversable.</small></p>

      <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
