<%= form_for(@person) do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

            <ul>
                <% @person.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% @person && @person.attributes.each do |key, value| %>
        <% if ["first_name", "last_name", "address1", "address2", "city", "state", "zip_code", "phone", "phone_description", "email", "email_description", "alt1_phone", "alt1_phone_description", "alt1_email", "alt1_email_description", "alt2_phone", "alt2_phone_desc"].include?(key) %>
            <div class="form-group">
                <%= f.label key %><br>
                <%= f.text_field key, autofocus: true, class: 'form-control' %>
            </div>
        <% end %>
    <% end %>

    <div class="form-group">
        <fieldset><legend>Roles <span id='filter-tooltip-roles' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Select any roles that this person is willing to perform. This action does not actually assign this role for any specific colony, but will cause this person to be listed as an available resource on the colony map."></span></legend>
            <%= f.collection_check_boxes( :role_value_ids, RoleValue.all, :id, :name ) do |b| %>
                <%= b.label(class: "check_box") do %>             
                    <%= b.check_box(class: "check_box") %>              
                    <%= content_tag(:abbr, b.object.name, title: b.object.description) %> &nbsp;             
                <% end %>
            <% end %>
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset><legend>Categories <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Categories are optional user-defined labels that can be used as search and filter criteria when using any of the search functions. Look for the Manage Categories link under the Task menu. People can be assigned any number of categories."></span></legend>
            <%= f.collection_check_boxes( :category_ids, Category.for_people, :id, :name ) do |b| %>
                <%= b.label(class: "check_box") do %>             
                    <%= b.check_box(class: "check_box") %>              
                    <%= content_tag(:abbr, b.object.name, title: b.object.description) %> &nbsp;             
                <% end %>
            <% end %>
        </fieldset>
    </div>

    <div class="form-group">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
<% end %>
  