<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Deleted People</h4>
      </div>
      <div class="panel-body">
        <%= form_tag update_deleted_people_path, :html => { :method => :post } %>
        <table id='data_table' class="display">
          <thead>
            <tr>
              <% if current_user_admin? %>
                <th>Restore/Purge</th>
              <% end %>
              <th>Person Added</th>
              <th>County</th>
              <th>Name</th>
              <th>Address</th>
              <th>Primary Phone</th>
              <th>Actions</th>
              <th>Deleted?</th>
              <th>Deleted By</th>
              <th>Deleted Date</th>
            </tr>
          </thead>

          <tbody>
            <% @people && @people.each do |person| %>
              <tr>
                <% if current_user_admin? %>
                  <td><%= check_box_tag "person_ids[]", person.id %></td>
                <% end %>
                <td><%= person.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= person.county %></td>
                <td><%= person.first_name %> <%= person.last_name %></td>
                <td><%= person.formatted_address %></td>
                <td><%= person.phone %></td>
                
                <td><%= link_to 'Show', person %> | <%= link_to 'Edit', edit_person_path(person) %>                
                </td> 
                <td><%= person.deleted %></td>
                <td><%= user(person.deleted_by).name %></td>
                <td><%= person.deleted_at.to_formatted_s(:friendly_date) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= radio_button_tag :person_selected, 'none', :checked => true %> 
        <%= label_tag :person_selected_none, 'Take No Action' %><br>
        <%= radio_button_tag :person_selected, 'purge' %> 
        <%= label_tag :person_selected_purge, 'Purge All Selected' %><br>
        <%= radio_button_tag :person_selected, 'restore' %>
        <%= label_tag :person_selected_restore, 'Restore All Selected' %><br>
        <%= submit_tag "Submit Restore/Purge Selections", class: 'btn btn-warning' %>
        
      </div>
    </div>
  </div>
</div>