<div class='row'>
    <div class="col-md-12">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            People List 
            <% if current_user.admin %>
                <%= link_to "Download To CSV", people_path(params.to_unsafe_h.merge(format: "csv")), :class => "btn btn-default btn-xs", data: {turbolinks: false} %>
            <% end %>
        </h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id='data_table' class="table table-condensed">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</td>
                        <th># Colonies</th>
                        <th>Colony Roles</th>
                        <th>Available Roles</th>
                        <th>Deleted?</th>
                    </tr>
                </thead>
                <tbody>
                    <% @people && @people.each do |person| %>
                        <tr>
                            <td><%= link_to 'Show', person %> | <%= link_to 'Edit', edit_person_path(person) %>
                                <% if current_user_admin? %>
                                |   <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                            </td> 
                            <td><%= person.full_name %></td>
                            <td><%= person.formatted_address %></td>
                            <td><%= person.phone %></td>
                            <td><%= person.email %></td>
                            <td><%= person.colonies.size %></td>
                            <td><%= person.roles.for_colony.size %></td>
                            <td><%= person.roles.available.size %></td>
                            <td><%= person.deleted ? "Yes" : "No" %></td> 
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>