<div class='row'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
        <div class='panel panel-primary'>
            <div class='panel panel-heading'>
                <h4>Add New Person</h4>
            </div>
            <div class='panel panel-body'>
                <div class="alert alert-info">
                    <p>Before clicking the 'Add Person' button, you must enter the person's name to make sure the record does not already exist.</p>
                </div>
                <%= form_tag(person_search_selection_path, :method => "get", id: "search-form") do %>
                    <%= hidden_field_tag :person_id %>
                    <div class="input-group">
                        <%= autocomplete_field_tag "search", "", people_autocomplete_person_full_name_path, :id_element => '#person_id', 'data-noMatchesLabel' => 'No people matching that name exist.', class: "form-control", placeholder: "Search Name: Last, First" %>
                        <span class="input-group-btn">
                            <%= button_to 'Add Person', new_person_path, class: 'btn btn-default', id: 'add_person_button', :disabled => true %>
                        </span>
                    </div>
                    <hr>
                    <div class="well">
                        <h4>People search tips</h4>
                        <p class="text-muted">Enter the name in this format: <span class="label label-default">LastName, FirstName</span> <strong>including a comma and a single space</strong> between LastName and FirstName</p>
                        <p class="text-muted">Spelling matters, but it is not case sensitive ("Smith, Joan" and "smith, JOAN" will return identical results)</p>
                    </div>
                    <div class="alert alert-warning"> 
                        <span> 
                            <strong>Override option</strong>: Only use this option to add a person that has the exact same name as an existing record
                            <%= link_to 'Add Person', new_person_path, class: 'btn btn-warning btn-xs', id: 'override_add_person_button' %>
                        </span>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    <div class='col-md-2'>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    function delay(callback, ms) {
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $('#search').bind('railsAutocomplete.select', function(event, data){
        $('#search-form').submit();
    });

    $( "#search" ).keyup(delay(function() {
        let btn = $("#add_person_button");
        if( $('.ui-menu-item-wrapper').length && $(".ui-menu-item-wrapper")[0].innerText.startsWith('No people matching that name exist.') ) {
            btn.prop("disabled", false);
            btn.addClass('btn-primary');
            btn.removeClass('btn-default');
        } else {
            btn.prop("disabled", true);
            btn.addClass('btn-default');
            btn.removeClass('btn-primary');
        }
    }, 500));
</script>
