<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Person</h4>
            </div>
            <div class="panel-body">
                <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-primary' %> 
                <%= link_to 'Cancel', people_path, class: 'btn btn-default' %>
                <%= link_to 'Add Person', add_person_path, class: 'btn btn-primary' %>
                <br /><br />
                <ul class="list-group">
                    <% @person.attributes.each do |key, value| %>
                        <li class="list-group-item"><strong><%= key %></strong>: <%= value %></li>
                    <% end %>
                    <li class="list-group-item">
                        <strong>Categories:</strong>
                        <% @categories.each do |category| %>
                        <abbr title='<%= category.description %>'><span class='label label-success'><a class='label-link' href="/map?params_present=true&category_id[]=<%= category.id %>"><%= category.name %></a></span></abbr>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Roles</h4>
            </div>
            <div class="panel-body">
                <p><strong>Available Roles</strong></p>

                <%#= form_with url: update_person_roles_path(@person), method: :post do |f| %>

                        <p id="person_id_<%= @person.id %>">
                            <% person_role_value_ids = @person.roles.available.pluck(:role_value_id) %>
                            <ul class="list-group">
                                <% RoleValue.all.each do |role_value| %>
                                    <li class="list-group-item">
                                        <%= label_tag role_value.name %>
                                        <%= check_box_tag "role", role_value.name, person_role_value_ids.include?(role_value.id),
                                            data: {
                                                remote: true,
                                                url: url_for( action: :update_person_roles, id: @person.id, role_value_id: role_value.id ),
                                                method: "POST"
                                            }
                                        %>
                                    </li>
                                <% end %>
                            </ul>
                        </p>   

                    <%#= f.submit "Update" %>
                <%# end %>


                <p><strong>Colony Roles</strong></p>
                <ul class="list-group">
                    <% @person.roles.for_colony.order(:colony_id).each do |role| %>
                        <li class="list-group-item"><strong><%= role.role_value.name %> for <%= role.colony.colony_name ? role.colony.colony_name : 'Unnamed Colony' %> at <%= role.colony.formatted_address %></strong></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>