<%= form_for(@deleted_cat_reason) do |f| %>
  <% if @deleted_cat_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deleted_cat_reason.errors.count, "error") %> prohibited this Deleted Cat Reason from being saved:</h2>

      <ul>
      <% @deleted_cat_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :reason %><br>
    <%= f.text_field :reason, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>