<div class='row'>
  <div class="col-md-3">
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Deleted Cat Reasons</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Reason</th>
                  <th>Description</th>
                  <th>Is active</th>
                  <th>Created by</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @deleted_cat_reasons && @deleted_cat_reasons.each do |deleted_cat_reason| %>
                  <tr>
                    <% created_by_user = user(deleted_cat_reason.created_by) %>
                    <td><%= deleted_cat_reason.id %></td>
                    <td><%= deleted_cat_reason.reason %></td>
                    <td><%= deleted_cat_reason.description %></td>
                    <td><%= deleted_cat_reason.is_active %></td>
                    <td><%= created_by_user.nil? ? "deleted user" : created_by_user.name %></td>
                    <td><%= link_to 'Show', deleted_cat_reason %> | <%= link_to 'Edit', edit_deleted_cat_reason_path(deleted_cat_reason) %> | <%= link_to 'Destroy', deleted_cat_reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to 'Add New Reason', new_deleted_cat_reason_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>    
</div>