<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Deleted Cat Reason</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Status code:</strong>
          <%= @deleted_cat_reason.reason %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @deleted_cat_reason.description %>
        </p>
        <p>
          <strong>Is active:</strong>
          <%= @deleted_cat_reason.is_active %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= user(@deleted_cat_reason.created_by).name %>
        </p>

        <%= link_to 'Edit', edit_deleted_cat_reason_path(@deleted_cat_reason), class: 'btn btn-primary' %> 
        <%= link_to 'Cancel', deleted_cat_reasons_path, class: 'btn btn-default' %>
        <%= link_to 'New Status code', new_deleted_cat_reason_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>