#map-container{height:620px;border-radius:16px 16px;border-color:#fff;border-style:solid;box-shadow:2px 2px 10px #B1B1B1;margin-top:25px;border-width:7px}#map{height:600px;width:100%}#sm-map-container{height:420px;border-radius:16px 16px;border-color:#fff;border-style:solid;box-shadow:2px 2px 10px #B1B1B1;margin-top:25px;border-width:7px}#sm-map{height:400px;width:100%}
