<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-12">
        <% if current_user_admin? %>
          <div class="form-group">
            <abbr title='This user can access the functions listed under the Tasks drop down menu'><%= f.label :admin %></abbr><br>
            <%= f.check_box :admin %>
          </div>
          <div class="form-group">
            <abbr title='This user can have colonies assigned to them'><%= f.label :field_volunteer, 'Assigned Volunteer' %></abbr><br>
            <%= f.check_box :field_volunteer %>
          </div>
        
          <div class="form-group">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
            <% current_user_admin? ? path=users_path : path = root_url %>
            <%= link_to 'Cancel', path, class: 'btn btn-default' %>
          </div>
        <% else %>
          <div class="alert alert-danger" role="alert">
            Only Admin users may make these changes.
          </div>
        <% end %>
      </div>

  </div>
</div>

<% end %>
