
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>All Users</h4>
      </div>
      <div class="panel-body">
        <table id="data_table" class="display">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Name</th>
              <th>Email</th>
              <th>Roles</th>
              <th>User Since</th>
              <th>Activity</th>
              <th>Invitation Status</th>
            </tr>
          </thead>

          <tbody>
            <% @users && @users.each do |user| %>
              <tr>
                <td><%= link_to 'Show', user %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= user.name %> <span class='label label-primary'><%= pluralize(user.colonies.not_deleted.size, 'Colony') %></span></td>
                <td><%= user.email %></td>
                <td>
                  <% if user.admin %>
                    <abbr title='This user can access administrative functions listed under the Admin drop down menu'><span class='label label-success'>Admin</span></abbr>
                  <% end %>
                  <% if user.field_volunteer %>
                    <abbr title='This user can have colonies assigned to them'><span class='label label-success'>Assigned Vol</span></abbr>
                  <% end %>
                </td>
                <td><%= user.created_at.to_formatted_s(:friendly_date) %></td>
                <td>
                  <abbr title='Sign Ins: Total number of times this user has sign in'><span class='label label-info'>Count: <%= user.sign_in_count %></span></abbr>
                  <abbr title='Last SignIn: The timestamp of the last time the user signed in'><span class='label label-info'>Last: <%= user.last_sign_in_at.nil? ? 'N/A' : user.last_sign_in_at.strftime('%Y-%m-%d') %></span></abbr>
                  <abbr title='Current SignIn: The timestamp of the current login time'><span class='label label-info'>Current: <%= user.current_sign_in_at.nil? ? 'N/A' : user.current_sign_in_at.strftime('%Y-%m-%d') %></span></abbr>
                </td>
                <td>
                  <% if !user.invitation_accepted_at.nil? %>
                    <abbr title='Accepted date: The date that the user joined.'><span class="label label-success">Accepted: <%= user.invitation_accepted_at.nil? ? 'N/A' : user.invitation_accepted_at.strftime('%Y-%m-%d') %></span></abbr> 
                  <% else %>
                    <abbr title='Invited date: The date that the user was sent an invitation to join.'><span class="label label-warning">Pending: <%= user.invitation_sent_at.nil? ? 'N/A' : user.invitation_sent_at.strftime('%Y-%m-%d') %></span></abbr>
                  <% end %>
                  <abbr title='Invited by: The name of the user that invited this user.'><span class="label label-info">By: <%= user.invited_by_id.nil? ? 'N/A' : User.find(user.invited_by_id).name rescue 'Deleted User' %></span></abbr>
                </td>
                
                
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Invite New User', new_user_invitation_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>


