<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Add User</h4>
      </div>
      <div class='panel panel-body'>
		<%= render 'form' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>

