
<div class='row'>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>User Account</h4>
          </div>
          <div class="panel-body">

            <p>
              <strong>Username:</strong>
              <%= @user.name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>

            <p>
              <strong>Roles:</strong>
              <% if @user.admin %>
                <abbr title='This user can access the functions listed under the Tasks drop down menu'><span class='label label-success'>Admin</span></abbr>
              <% end %>
              <% if @user.field_volunteer %>
                <abbr title='This user can have colonies assigned to them'><span class='label label-success'>Assigned Volunteer</span></abbr>
              <% end %>
            <p>
              <strong>User Since:</strong>
              <%= @user.created_at.to_formatted_s(:friendly_date) %>
            </p>


            <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary' %> 
            <%= link_to 'Cancel', users_path, class: 'btn btn-default' %> 
            <% if current_user_admin? %>
              <%= link_to('Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' ) %> 
              <%#= link_to 'Add New User', new_user_path, class: 'btn btn-primary' %> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><%= @header %> <% if @results_message != "" %> <span class='badge badge-default'>Filters: <%= @results_message %></span> <% end %></h4>
      </div>
      <div class="panel-body">        
        <div id="map-container">
          <div id="map"></div>
          <% @status_codes.each do |s| %>
            <abbr title='<%= s.description %>'><span class='label label-success' style="background-color:<%= s.color %>;color:black;"><%= s.status_code %></span></abbr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Filters <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Set one or more filters below and click button. Results will include only colonies that match all selected criteria."></span></h4>
      </div>
      <div class="panel-body">
        <%= form_tag user_path(@user), class: 'form-horizontal form-group-sm', :method => :get do %>
          <%= render 'shared/filter' %>
          <div class="form-group">        
            <%= submit_tag "Apply Filter", :name => nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {zoom:12},  internal: {id: 'map'}}, function(){

  <% if @hash && @hash.size > 0 %>  
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  <% else %>
    handler.map.centerOn({lat:40.045592,lng:-86.008596});
  <% end %>
  
  
});

</script>
