A new note was posted on an assigned colony:

<%= "Name: #{@colony.colony_name ? @colony.colony_name : 'Unnamed Colony'}" %>
<%= "Business Name: #{@colony.business_name}" if @colony.business_name %>
<%= "Address: #{@colony.formatted_address}" if @formatted_address %>
<%#= colony_url(@colony.id) %>

On <%= @note.created_at.strftime('%m/%d/%Y at %H:%M') %>, <%= @note.user.name %> added a note:

<%= @note.note_text %>
