<h4><%= @header %></h4>
<p>
    <%= "Name: #{@colony.colony_name ? @colony.colony_name : 'Unnamed Colony'}" %>
</p>
<p>
    <%= "Business Name: #{@colony.business_name}" if @colony.business_name %>
</p>
<p>
    <%= "Address: #{link_to(@colony.formatted_address, colony_url(@colony))}" if @formatted_address %>
</p>
<p>
    <%= link_to "View Colony", colony_url(@colony.id) %>
</p>

<fieldset><legend>On <%= @note.created_at.strftime('%m/%d/%Y at %H:%M') %>, <%= @note.user.name %> added a note
			<% if !@note.cat_id.nil? %>
				<% cat = @note.cat %>
				about <%= link_to 'a colony cat', [@colony,cat] %> (<%= cat.name if cat.name %> <%= cat.id_code if cat.id_code %>)
			<% end %>
:</legend>
<p><whitespace><%= @note.note_text %></whitespace></p>
</fieldset>