
          <fieldset id='filter_controls'>
          <%= hidden_field_tag :params_present, true %>
          <div class="form-group">
            <%#= select_tag :city, options_for_select(@city_options, @city_selected), class: 'form-control' %>
            <%= collection_select(:neighborhood, nil, Colony.not_deleted.select(:neighborhood).group(:neighborhood).order(:neighborhood), :neighborhood, :neighborhood, @params_hash[:neighborhood] ? {:include_blank => "Neighborhood",:selected => @params_hash[:neighborhood][0]} : {:include_blank => "Neighborhood"}, {class: 'form-control'}) %>

            <%#= select_tag :city, options_for_select(@city_options, @city_selected), class: 'form-control' %>
            <%= collection_select(:township, nil, Colony.not_deleted.select(:township).group(:township).order(:township), :township, :township, @params_hash[:township] ? {:include_blank => "Township",:selected => @params_hash[:township][0]} : {:include_blank => "Township"}, {class: 'form-control' }) %>

            <%#= select_tag :city, options_for_select(@city_options, @city_selected), class: 'form-control' %>
            <%= collection_select(:city, nil, Colony.not_deleted.select(:city).group(:city).order(:city), :city, :city, @params_hash[:city] ? {:include_blank => "City",:selected => @params_hash[:city][0]} : {:include_blank => "City"}, {class: 'form-control' }) %>

            <%#= select_tag :city, options_for_select(@city_options, @city_selected), class: 'form-control' %>
            <%= collection_select(:zip_code, nil, Colony.not_deleted.select(:zip_code).group(:zip_code).order(:zip_code), :zip_code, :zip_code, @params_hash[:zip_code] ? {:include_blank => "Zip",:selected => @params_hash[:zip_code][0]} : {:include_blank => "Zip"}, {class: 'form-control' }) %>

            <%#= select_tag :city, options_for_select(@city_options, @city_selected), class: 'form-control' %>
            <%= collection_select(:county, nil, Colony.not_deleted.select(:county).group(:county).order(:county), :county, :county, @params_hash[:county] ? {:include_blank => "County",:selected => @params_hash[:county][0]} : {:include_blank => "County"}, {class: 'form-control' }) %>

            <%= collection_select( :status_code_id, nil, StatusCode.not_deleted, :id, :status_code, @params_hash[:status_code_id] ? {:include_blank => "Status Code", :selected => @params_hash[:status_code_id][0]} : {:include_blank => "Status Code"}, {class: 'form-control'} ) %>

            <%= collection_select( :user_id, nil, User.not_deleted.is_assigned_volunteer, :id, :name, @params_hash[:user_id] ? {:include_blank => "User", :selected => @params_hash[:user_id][0]} : {:include_blank => "Assigned Volunteer"}, {class: 'form-control'} ) %>

            <%= collection_select( :category_id, nil, Category.for_colonies, :id, :name, @params_hash[:category_id] ? {:include_blank => "Category", :selected => @params_hash[:category_id][0]} : {:include_blank => "Category"}, {class: 'form-control'} ) %>

            <%= text_field_tag :address_contains, @params_hash[:address_contains] ? @params_hash[:address_contains] : nil, class: 'form-control', :placeholder => "Address Contains" %>

            <%= text_field_tag :colony_name_contains,@params_hash[:colony_name_contains] ? @params_hash[:colony_name_contains] : nil, class: 'form-control', :placeholder => "Colony Name Contains" %>

            <%= text_field_tag :business_name_contains,@params_hash[:business_name_contains] ? @params_hash[:business_name_contains] : nil, class: 'form-control', :placeholder => "Business Name Contains" %>

            <%= text_field_tag :min_cats, @params_hash[:min_cats] ? @params_hash[:min_cats] :nil, class: 'form-control', :placeholder => "Min. Cats" %>

            <%= text_field_tag :max_cats, @params_hash[:max_cats] ? @params_hash[:max_cats] :nil, class: 'form-control', :placeholder => "Max. Cats" %>

            <%= text_field_tag :min_ins_date, @params_hash[:min_ins_date] ? @params_hash[:min_ins_date] :nil, class: 'form-control', :placeholder => "Min. Insert Date" %>

            <%= text_field_tag :max_ins_date, @params_hash[:max_ins_date] ? @params_hash[:max_ins_date] :nil, class: 'form-control', :placeholder => "Max. Insert Date" %>
            <!-- <div class="form-group">
            #   <label class="col-sm-4 control-label">Resources</label>
            #   <div class="col-sm-8">
            #     <%#= select_tag "roles[]", options_from_collection_for_select(RoleValue.all, "id", "name"), multiple: true, class: 'form-control', include_blank: "All" %>
            #   </div>
            # </div> -->
          </div>
        </fieldset>
          
