<% if current_user.try(:admin?) %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Invitations</h4>
            </div>
            <p>Send someone else an email invitation to join.</p>
            <% if current_user.invitation_limit && current_user.invitation_limit > 0 %>
                <%= link_to 'Send invitation', new_user_invitation_path, class: 'btn btn-sm btn-primary' %>
            <% else %>
                <p>You are not able to take this action.</p>
            <% end %>

            <h5>Edit Invite Limit <span title="Edit this to a number greater than zero to allow this user to send invitations to join. Edit the number to 0 to prevent the user from sending invitations. Each time the user sends an invitation, the limit is reduced by 1 until the number reaches zero and the user is unable to send more invites." style="color:blue;cursor:pointer;">[ ? ]</span></h5>
            <%= form_tag('/edit_invite_limit') do -%>
                <div>
                    <%= hidden_field_tag 'id', @user['id'] %>
                    <%= number_field_tag 'invite_limit', @user['invitation_limit'], min: 0, max: 999, step: 1 %>
                    <%= submit_tag 'Update Invitation Limit', id: 'edit_invite_limit_btn', class: 'btn btn-sm btn-primary' %>
                </div>
            <% end -%>
          </div>
        <% end %>  