<script type="text/javascript">
  $(document).ready(function() {
	
	$('#delete_cat').click(function (event) {
	  var root_href = $("#delete_cat").attr("href");
	  var delete_reason = $("#delete_reason").val();
	  $("#delete_cat").attr("href", root_href + "?delete_reason=" + delete_reason);
	});


    $('#data_table').dataTable();
    var notes_table = $('#notes-table').dataTable({
        "order": [[ 0, "desc" ]]
    });
    $('#nearbys-table').dataTable();
    $('#status_code_color').simplecolorpicker();
    $('#min_ins_date').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#max_ins_date').datepicker({ dateFormat: 'yy-mm-dd' });
    // $('#cat_dob').datepicker({ dateFormat: 'yy' });
	  // $('#cat_dob').datepicker({
	  // 	 changeMonth: true,
	  //   changeYear: true,
	  //   dateFormat: 'MM yy',
	 
	  //   onClose: function() {
	  //      var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
	  //      var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
	  //      $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
	  //   },
	 
	  //   beforeShow: function() {
	  //     if ((selDate = $(this).val()).length > 0)
	  //     {
	  //        iYear = selDate.substring(selDate.length - 4, selDate.length);
	  //        iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5),
	  //                 $(this).datepicker('option', 'monthNames'));
	  //        $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
	  //        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
	  //     }
	  //  }
	  //});
	  $(function() {
     $('#cat_dob').datepicker(
                    {
                        dateFormat: "yy-mm-01",
                        changeMonth: true,
                        changeYear: true,
                        showButtonPanel: true,
                        onClose: function(dateText, inst) {


                            function isDonePressed(){
                                return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                            }

                            if (isDonePressed()){
                                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                                $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                                
                                 $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                            }
                        },
                        beforeShow : function(input, inst) {

                            inst.dpDiv.addClass('month_year_datepicker')

                            if ((datestr = $(this).val()).length > 0) {
                                year = datestr.substring(datestr.length-4, datestr.length);
                                month = datestr.substring(0, 2);
                                $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                                $(this).datepicker('setDate', new Date(year, month-1, 1));
                                $(".ui-datepicker-calendar").hide();
                            }
                        }
                    })
});

    $('.carousel').carousel({
	  interval: 7000
	})
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	$('#new_user_id_').change(function() {
		if ( ($('#new_user_id_').val() == "" ) && ($('#new_status_code_id_').val() == "") ) {
			$('#mass_assign_submit').removeClass('btn-danger');
			$('#mass_assign_submit').addClass('btn-default');
			$('#mass_assign_submit').val("Test");
			$('#alert').removeClass('alert-danger');
			$('#alert').addClass('alert-info');
			$('#alert_message').html("<small>Select filter(s) and click 'Test'. <strong>No changes will be made.</strong> </small>");

		}
		else {
			$('#mass_assign_submit').removeClass('btn-default');
			$('#mass_assign_submit').addClass('btn-danger');
			$('#mass_assign_submit').val("Submit");
			$('#alert').removeClass('alert-info');
			$('#alert').addClass('alert-danger');
      		$('#alert_message').html("<small><strong>Caution! When you click 'Submit', all colonies matching the filter(s) criteria will be updated to the status code and/or assigned volunteer selected below. This cannot be undone.</strong></small>");
		}
	});
	$('#new_status_code_id_').change(function() {
		if ( ($('#new_status_code_id_').val() == "" ) && ($('#new_user_id_').val() == "") ) {
			$('#mass_assign_submit').removeClass('btn-danger');
			$('#mass_assign_submit').addClass('btn-default');
			$('#mass_assign_submit').val("Test");
			$('#alert').removeClass('alert-danger');
			$('#alert').addClass('alert-info');
			$('#alert_message').html("<small>Select filter(s) and click 'Test'. <strong>No changes will be made.</strong> </small>"); 

		}
		else {
			$('#mass_assign_submit').removeClass('btn-default');
			$('#mass_assign_submit').addClass('btn-danger');
			$('#mass_assign_submit').val("Submit");
			$('#alert').removeClass('alert-info');
			$('#alert').addClass('alert-danger');
			$('#alert_message').html("<small><strong>Caution! When you click 'Submit', all colonies matching the filter(s) criteria will be updated to the status code and/or assigned volunteer selected below. This cannot be undone.</strong></small>");
		}
	});
  } );
</script>