<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>My Filters <small><%= link_to "Manage Filters", saved_filters_path, class: 'btn btn-default btn-xs' %></small></h4>
    </div>
    <div class="panel-body">
        <% current_user.saved_filters && current_user.saved_filters.each do |user_filter| %>
            <small><%= link_to user_filter.name, user_filter, class: 'btn btn-primary btn-xs' %></small>
        <% end %>

    </div>
</div>