<div class="form-group">
    <abbr title='Save these filter settings under My Filters for one-click running anytime.'>
        <%= label_tag :make_quick_filter do %>
        <%= check_box_tag :make_quick_filter %>
        Save Filter
        <% end %>
    </abbr>

    <%= text_field_tag :quick_filter_name, nil, class: 'form-control', :placeholder => "Saved Filter Name" %>
</div>