<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Sign In</h4>
      </div>
      <div class='panel panel-body'>
        <% if @default_user_exists && ["localhost", "colony-manager-demo-staging.herokuapp.com","colony-manager-demo.herokuapp.com"].include?(ENV["HOST_URL"]) %>
          <div class="alert alert-info">
            <p>If you do not have a user, please sign in using the Demo User. Login instructions are below.
          </div>
        <% end %>
        <p>Please enter your username and password.</p>
        
        <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        
          <div class="actions form-group">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <% if @default_user_exists && ["localhost", "colony-manager-demo-staging.herokuapp.com","colony-manager-demo.herokuapp.com"].include?(ENV["HOST_URL"]) %>
      <div class='panel panel-primary'>
        <div class='panel panel-heading'>
          <h4>Demo User Login Information</h4>
        </div>
        <ul>
          <li>Email: admin@admin.com</li>
          <li>Password: admin1</li>
        </ul>
        <div class='well'>
          <p>Once logged in, <strong>create an administrator account with your own email address.</strong> Then log out and log back in using that account. This will allow you to assign colonies to yourself and receive the notification emails that are generated by colony creation and updates.</p>

          <p><strong>You may create/modify/delete as many users, colonies, and status codes as you wish.</p>
          <p>EXCEPT: Please do not change or delete the Demo User.</strong></p>
        </div>
      </dic>
    <% elsif @default_user_exists %>
      <div class="alert alert-warning" role="alert">
        <p>Your default adminstrator login is still active. Please follow these steps to secure your site:</p>
      </div>
      <ol>
        <li>Log in using the default admin user:
        <li><strong>User:</strong> admin@admin.com</li>
          <li><strong>Password:</strong> admin1</li>
        </li>
        <li>Create <strong>at least 1 ADMIN account</strong>, and test it to make sure you can log in successfully</li>
        <li>Delete the default ADMIN account: admin@admin.com</li>
      </ol>
      <p>Please be sure to follow the above steps in order. If you ever delete all ADMIN accounts, you will not be able to access the adminstrative options, and will be unable to create new admin users.</p>
      <p><strong>Please be sure you always have at least one active admin user.</strong></p>

    <% elsif @number_of_admin_users == 0 %>
      <div class="alert alert-danger" role="alert">
        <p>You have 0 admin accounts, and will be unable to access administrator functions. Please contact <%= ENV["DEVELOPER_EMAIL"] %> to recreate your default administrator account.</p>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
  </div>
</div>
