<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4><%= t "devise.invitations.edit.header" %></h4>
      </div>
      <div class='panel panel-body'>

        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :invitation_token, readonly: true %>

          <div class="form-group">
            <%= f.label "Username" %><br />
            <%= f.text_field "name", class: "form-control" %>
          </div>

          <% if f.object.class.require_password_on_accepting %>
            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          <% end %>

          <div class="actions form-group">
            <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
