<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4><%= t "devise.invitations.new.header" %></h4>
      </div>
      <div class='panel panel-body'>

        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="form-group">
              <%= f.label field %><br />
              <%= f.text_field field, class: "form-control" %>
            </div>
          <% end -%>

          <div class="actions form-group">
            <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
