<script>
  $( function() {
    $( "#sdate" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  } );

  $( function() {
    $( "#edate" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  } );
</script>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= form_with url: @url, method: :get do |form| %>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label "Date Range Filter" %><br />
                <%= form.label "Date Type", "Scheduled", :value => "Scheduled", class: "form-check-label" %>
                <%= form.radio_button :date_type, "Scheduled", :checked => true, class: "form-check-input" %>
                <%= form.label :date_type, "Actual", :value => "Actual", class: "form-check-label" %>
                <%= form.radio_button :date_type, "Actual", class: "form-check-input" %><br />
            </div>
            <div class="form-group">
                <%= form.text_field :sdate, class: 'form-control form-control-sm', id: 'sdate', placeholder: "Start Date" %>
            </div>
            <div class="form-group">
                <%= form.text_field :edate, class: 'form-control form-control-sm', id: 'edate', placeholder: "End Date" %>
            </div>
        </div>

        <div class="col-md-6">
            <%= form.label :status, "Colony Name Includes:" %>
            <%= form.text_field :colony_name_includes, value: @colony_name_includes, placeholder: "Colony Name Includes", class: "form-control form-control-sm" %>
            <%= form.label :status, "Status:" %>
            <%= form.select :status, ["All", "Scheduled", "Finalized", "Not Ready"], {}, { selected: @selected_status, class: "form-control form-control-sm" } %>
            <%= form.label :trapper_id, "Trapper:" %>
            <%= form.collection_select :trapper_id, User.is_assigned_volunteer, :id, :name, { :prompt => "Select Trapper", :selected => @trapper_id }, { class: "form-control form-control-sm" } %>
        </div>
        <%= form.submit "Apply" %>
    <% end %>
    <hr>
  </div>
</div>
  