<script>
  $( function() {
    $( "#scheduled_date" ).datepicker({
      dateFormat: "yy-mm-dd"
      // minDate: new Date()
    });
  } );
</script>

<%= form_with(model: trapping_project) do |form| %>
  <% if @trapping_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trapping_project.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @trapping_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Trapping Project for <%= @colony && @colony.colony_name ? link_to(@colony.colony_name, @colony) : "Unnamed Colony" %></h4>
  
  <hr />

  <div class="form-group">
    <%= form.label :scheduled_date %>
    <%#= form.date_select :scheduled_date, autofocus: true, class: 'form-control' %>
    <%= form.text_field :scheduled_date, class: 'form-control', id: 'scheduled_date' %>
  </div>

  <div class="form-group">
    <%= form.label :planned_cats %>
    <%= form.number_field :planned_cats, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Trapper</label>
    <select id="user_id" name="user_id" class="form-control">
      <option value="Unassigned">Unassigned</option>
      <%= @trapper_options.html_safe %>
    </select>
  </div>

  <div class="form-group">
    <fieldset><legend>Note <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="You have the option to add additional information about this trapping project that will be attached to the trapping project as a note. Any number of notes can be added at any time by any user. Notes are time and date stamped and can be displayed on the Trapping Project Details page to provide a history of communication about the trapping project. The contents of notes will be emailed to the trapping project's Trapper."></span></legend>
    <%= text_area_tag :note_text, nil, rows: 2, cols: 60, class: 'form-control', placeholder: 'Include Note/History' %>
    </fieldset>
  </div>

  <div class="form-group">
    <%= check_box_tag :suppress_email %>
    <%= form.label "Check box to suppress emails" %>
  </div>
  <%= form.label "Email Recipients" %>
  <div class="form-group">
    <%= select_tag "email_recipients", raw(@update_options), multiple: true %>
  </div>

  <div class="form-group">
    <input id="colony_id" name="colony_id" type="hidden" value="<%= @colony ? @colony.id : nil %>"/>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
