<script>
  $( function() {
    $( "#actual_date" ).datepicker({
      dateFormat: "yy-mm-dd"
      // minDate: new Date()
    });
  } );
</script>

<div class='row'>
    <div class='col-md-6'>
        <div class='panel panel-primary'>
            <div class='panel panel-heading'>
                <h4>Trapping Project Details</h4>
            </div>
            <div class='panel panel-body'>
                <%= form_with(model: @trapping_project) do |form| %>
                    <% if @trapping_project.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@trapping_project.errors.count, "error") %> prohibited this trapping project from being saved:</h2>

                            <ul>
                                <% @trapping_project.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <p>Enter final trapping project details for <%= @colony && @colony.colony_name ? link_to(@colony.colony_name, @colony) : "Unnamed Colony" %></p>

                    <hr />

                    <div class="form-group">
                        <%= form.label :trapping_date %>
                        <%#= form.date_select :actual_date, autofocus: true, class: 'form-control' %>
                        <%= form.text_field :actual_date, class: 'form-control', id: 'actual_date', value: @trapping_project.scheduled_date %>
                    </div>

                    <div class="form-group">
                        <%= form.label :trapped_cats %>
                        <%= form.number_field :actual_cats, class: 'form-control', value: @trapping_project.planned_cats %>
                    </div>

                    <div class="form-group">
                        <input id="redirect_to" name="redirect_to" type="hidden" value="continue_finalization" />
                        <input id="colony_id" name="colony_id" type="hidden" value="<%= @colony ? @colony.id : nil %>"/>
                        <%= form.submit "Next", :class => 'btn btn-primary' %>
                        <%= link_to 'Cancel', @trapping_project, class: 'btn btn-default' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
