<style>
/* prevents the datepicker calendar from displaying since we are only going by month/year */
  .ui-datepicker-calendar {
    display: none;
    }
</style>

<script>
    $( document ).ready(function() {
        var selectedCats = 0; 
        $("#selectedCats").html(selectedCats);
        

        <% @cats.each do |cat| %>
            $("#<%= cat.id %>").click(function() {
                if (this.checked && selectedCats === <%= @trapping_project.actual_cats %>) {
                    alert("You've already selected <%= @trapping_project.actual_cats %> cats. Please deselect another cat first, or use the browser 'back' button if you need to change the number of cats trapped.");
                    this.checked = false;
                } else {
                    $("#<%= cat.id %>_sex").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_outcome").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_clinic").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_name").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_id_code").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_weight_lbs").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_weight_oz").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_month_of_birth").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_dob_certainty").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_physical_description").prop("disabled", !this.checked);
                    $("#<%= cat.id %>_medical_info").prop("disabled", !this.checked);

                    if (this.checked) {
                        selectedCats += 1;
                    } else {
                        selectedCats -= 1;
                    }

                    $("#selectedCats").html(selectedCats);

                    if (selectedCats != <%= @trapping_project.actual_cats %>) {
                        let remainingCats = <%= @trapping_project.actual_cats %> - selectedCats;
                        let remainingCatsSuffix = remainingCats === 1 ? '' : 's';
                        $("#finalizeButton").val("Select " + remainingCats + " more cat" + remainingCatsSuffix);
                        $("#finalizeButton").prop("disabled", true);
                    } else {
                        $("#finalizeButton").val("Finalize");
                        $("#finalizeButton").prop("disabled", false);
                    }
                    
                }
            })
            $('<%= "##{cat.id}_month_of_birth" %>').datepicker(
                    {
                        dateFormat: "yy-mm-01",
                        changeMonth: true,
                        changeYear: true,
                        showButtonPanel: true,
                        onClose: function(dateText, inst) {


                            function isDonePressed(){
                                return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                            }

                            if (isDonePressed()){
                                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                                $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                                
                                 $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                            }
                        },
                        beforeShow : function(input, inst) {

                            inst.dpDiv.addClass('month_year_datepicker')

                            if ((datestr = $(this).val()).length > 0) {
                                year = datestr.substring(datestr.length-4, datestr.length);
                                month = datestr.substring(0, 2);
                                $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                                $(this).datepicker('setDate', new Date(year, month-1, 1));
                                $(".ui-datepicker-calendar").hide();
                            }
                        }
                    })
        <% end %>
    }) 
</script>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-primary'>
            <div class='panel panel-heading'>
                <h4>Report Cat Outcomes for Trapping Project</h4>
            </div>
            <div class='panel panel-body'>
                <%= form_with(url: complete_finalization_url(@trapping_project)) do |form| %>
                    <table id="data_table" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Trapped?</th>
                                <th>Outcome</th>
                                <th>Clinic</th>
                                <th>Name</th>
                                <th>Microchip</th>
                                <th>Weight (lbs, oz)</th>
                                <th>Month of birth(MoB)</th>
                                <th>Exact MoB?</th>
                                <th>Sex</th>
                                <th>Description</th>
                                <th>Medical Info<th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <% @cats.not_deleted.each do |cat| %>
                                <tr>
                                    <td><%= link_to cat.id, edit_colony_cat_path(cat.colony.id, cat.id) %></td>
                                    <td>
                                        <div class="form-group">
                                            <%= form.check_box cat.id, id: cat.id %>
                                        </div>
                                    </td>
                                    <td>
                                        <%= form.select "#{cat.id}_cat_event_outcome_id", CatEventOutcome.all.collect {|o| [o.name, o.id]}, {prompt: "Select"}, {id: "#{cat.id}_outcome", class: 'form-control', disabled: true} %>
                                    </td>
                                    <td>
                                        <%= form.select "#{cat.id}_clinic_id", Clinic.all.collect {|o| [o.name, o.id]}, {prompt: "Select"}, {id: "#{cat.id}_clinic", class: 'form-control', disabled: true} %>
                                    </td>
                                    <td><%= form.text_field "#{cat.id}_name", {class: "form-control", value: cat.name, id: "#{cat.id}_name", disabled: true} %></td>
                                    <td><%= form.text_field "#{cat.id}_id_code", {class: 'form-control', value: cat.id_code, id: "#{cat.id}_id_code", disabled: true} %>
                                    
                                    <td>
                                        <%= form.number_field "#{cat.id}_weight_lbs", {class: 'form-control', value: cat.weight_lbs, min: 0, max: 40, id: "#{cat.id}_weight_lbs", disabled: true} %>
                                        <%= form.number_field "#{cat.id}_weight_oz", {class: 'form-control', value: cat.weight_oz, min: 0, max: 15, id: "#{cat.id}_weight_oz", disabled: true} %>
                                    </td>
                                    <td><%= form.text_field "#{cat.id}_dob", {class: 'form-control', id: "#{cat.id}_month_of_birth", disabled: true, value: cat.dob} %></td>
                                    <td>
                                        <div class="form-group">
                                            <%= form.check_box "#{cat.id}_dob_certainty", {id: "#{cat.id}_dob_certainty", disabled: true, value: cat.dob_certainty} %>
                                        </div>
                                    </td>
                                    <td>
                                        <%= form.select "#{cat.id}_sex", options_for_select(['Select','male','female','unknown','spayed','neutered'], cat.sex), {}, {id: "#{cat.id}_sex", class: 'form-control', disabled: true} %>
                                    </td>
                                                                   
                                    <td>
                                        <div class="form-group">
                                            <%= form.text_area "#{cat.id}_physical_description", {class: 'form-control', disabled: true, id: "#{cat.id}_physical_description", value: cat.physical_description} %>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <%= form.text_area "#{cat.id}_medical_info", {class: 'form-control', disabled: true, id: "#{cat.id}_medical_info", value: cat.medical_info} %>
                                        </div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <%= check_box_tag :suppress_email %>
                        <%= form.label "Check box to suppress emails" %>
                    </div>
                    <%= form.label "Email Recipients" %>
                    <div class="form-group">
                        <%= select_tag "email_recipients", raw(@update_options), multiple: true %>
                    </div>
                    <div class="form-group">
                        <%= form.submit "Select #{pluralize(@trapping_project.actual_cats, 'cat')}", :class => 'btn btn-primary', disabled: true, id: "finalizeButton" %> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-primary'>
            <div class='panel panel-heading'>
                <h4>Summary of Updates reported as of <%= @trapping_project.actual_date %></h4>
            </div>
            <div class='panel panel-body'>
                <p><strong>Trapping Project Summary</strong></p>
                <p>Cats Trapped: <%= @trapping_project.actual_cats %> (of <%= @trapping_project.planned_cats %> planned)</p>
            </div>
        </div>
    </div>
</div>


