<div class="row">
  <div class="col-md-6">
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h4>
          All Trapping Projects
          <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Toggle Filter
          </button>
        </h4>
      </div>
      <div class="panel-body">
        <div class='col-md-12'>
          <%= render 'filter' %>
        </div>
        <div class='col-md-12'>
          <table id='data_table' class='display'>
            <thead>
              <tr>
                <th>Date</th>
                <th>Cats</th>
                <th>Assigned user</th>
                <th>Colony</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>      

            <tbody>     
              <% @trapping_projects.each do |tp| %>
                <tr>
                  <% if tp.is_finalized %>
                    <td>
                      <%= tp.actual_date %> 
                      <span class="glyphicon glyphicon-circle-check" aria-hidden="true"></span>
                    </td>
                    <td><%= tp.actual_cats %></td>
                  <% else %>
                    <td>
                      <%= tp.scheduled_date ? tp.scheduled_date : "Unscheduled" %> 
                      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      <% if tp.past_scheduled_date? %> 
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <% end %>
                    </td>
                    <td><%= tp.planned_cats %></td>
                  <% end %>
                  <td><%= tp.assigned_user ? link_to(user(tp.user_id)&.name) : "Unassigned" %></td>
                  <td><%= tp.colony ? tp.colony.colony_name ? link_to(tp.colony.colony_name, tp.colony) : "Unnamed Colony" : "None" %></td>
                  <td>
                    <% if tp.is_finalized %>
                      Finalized
                    <% elsif !tp.scheduled_date || !tp.user_id %>
                      Not Ready
                    <% else %>
                      Scheduled
                    <% end %>
                  </td>
                  <td><%= link_to 'Show', tp %> <%= link_to 'Edit', edit_trapping_project_path(tp) %> <%= link_to 'Destroy', tp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Map</h4>
      </div>
      <div class="panel-body">
        <div id="sm-map-container">
          <div id="sm-map"></div>
          <% @status_codes.each do |s| %>
            <abbr title='<%= s.description %>'><span class='label label-success' style="background-color:<%= s.color %>;color:black;"><%= s.status_code %></span></abbr>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
</div>

<script type="text/javascript">

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {zoom:12},  internal: {id: 'sm-map'}}, function(){

  <% if @hash && @hash.size > 0 %>  
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  <% else %>
    handler.map.centerOn({lat:40.045592,lng:-86.008596});
  <% end %>
  
  
});

</script>
