<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>New Trapping Project</h4>
      </div>
      <div class='panel panel-body'>

        <%= render 'form', trapping_project: @trapping_project %>

		<%= link_to 'Back', trapping_projects_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
