<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Trapping Project Details</h4>
      </div>
      <div class='panel panel-body'>
        <h4>Trapping project for <%= @colony && @colony.colony_name ? link_to(@colony.colony_name, @colony) : "Unnamed Colony" %></h4>
        <p>
          <strong>Scheduled date:</strong>
          <%= @trapping_project.scheduled_date ? @trapping_project.scheduled_date : "Unscheduled" %>
        </p>

        <p>
          <strong>Planned cats:</strong>
          <%= @trapping_project.planned_cats %>
        </p>

        <p>
          <strong>Assigned user:</strong>
          <%= @trapping_project.user_id ? link_to(@trapping_project.assigned_user, user(@trapping_project.user_id)) : "Unassigned" %>
        </p>

        <hr>
        <% if @trapping_project.is_finalized %>
          <div class="row">
            <div class="col-md-4">
              <h4>Event Details</h4>

              <p>
                <strong>Trapping date:</strong>
                <%= @trapping_project.actual_date %>
              </p>

              <p>
                <strong>Total Cats Trapped:</strong>
                <%= @trapping_project.actual_cats %>
              </p>

              <p>
                <strong>Cats added to Colony: </strong>
                <%= @trapping_project.colony_pop_event.event_inflow %>
              </p>

              <p>
                <strong>Cats removed from Colony: </strong>
                <%= @trapping_project.colony_pop_event.event_outflow %>
              </p>

              <p>
                <strong>Cats altered: </strong>
                <%= @trapping_project.colony_pop_event.event_altered %>
              </p>
            </div>

            <div class="col-md-8">
              <h4>Cat Details</h4>
              <table id='data_table' class='display'>
                <thead>
                  <tr>
                    <th>Cat Name</th>
                    <th>Clinic</th>
                    <th>Outcome</th>
                    <th>Returned?</th>
                  </tr>
                </thead>      
                <tbody>     
                  <% @trapping_project.cat_events.each do |cat_event| %>
                    <tr>
                      <td><%= cat_event.cat.name %></td>
                      <td><%= cat_event.clinic.name %></td>
                      <td><%= cat_event.cat_event_outcome.name %></td>
                      <td><%= cat_event.cat_event_outcome.remove_cat ? "No" : "Yes" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

        <%= link_to 'Edit', edit_trapping_project_path(@trapping_project), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', trapping_projects_path, class: 'btn btn-default' %> 
        <% if current_user.admin && !@trapping_project.is_finalized %>
          <%= link_to 'Finalize', begin_finalization_path(@trapping_project), class: 'btn btn-primary' %>
        <% end %>
        <% if current_user.admin %>
          <%= link_to( 'New Trapping Project', new_trapping_project_path, class: 'btn btn-primary') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Trapping Project History</h4>
      </div>
      <div class="panel-body">
        <a class="btn btn-info" role="button" data-toggle="collapse" href="#trappingProjectNotes" aria-expanded="false" aria-controls="trappingProjectNotes">
          Toggle History <span id='notes-size-badge' class='badge badge-info'><%= @notes.size %></span>
        </a>
        <% if @notes %>
          <div id="trappingProjectNotes" class="collapse">
            <div class="well">
              <table id="notes-table" class="table">
                <thead>
                  <tr>
                    <th class='col-sm-12'></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @notes %>
                </tbody>
              </table>
            </div>  
          </section>        
        <% end %>
      </div>
    </div>
  </div>
</div>
