<%= form_for(@colony) do |f| %>
  <% if @colony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colony.errors.count, "error") %> prohibited this colony from being saved:</h2>

      <ul>
      <% @colony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @colony.deleted? %>
    <div class="alert alert-danger" role="alert"><h4>You are viewing a deleted colony.</h4></div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Colony Name and Location</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :colony_name %> <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This is the name by which the colony is referred. It can be any value."></span>
            <%= f.text_field :colony_name, class: 'form-control' %>
          </div> 
          <div class="form-group">
            <%= f.label :business_name %> <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Optional. If there is a business at this location, add the name here."></span>
            <%= f.text_field :business_name, class: 'form-control' %>
          </div> 
          <div class="form-group">
            <%= f.label :address %><br>
            <%= f.text_field :address1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :apt_unit_ste_etc %><br>
            <%= f.text_field :address2, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :city %><br>
            <%= f.text_field :city, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :state %><br>
            <%= f.text_field :state, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :zip %><br>
            <%= f.number_field :zip_code, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Colony Information.</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <% if action_name == "new" %>
                <div class="form-group">
                  <%= f.label :colony_team %>
                  <p class="text-muted">You will be able to add people to this colony team after it is created.</p>
                </div>
              <% else %>
                <%= f.label :colony_team %> <span class="label label-default"><%= @people.size %></span> 
                <small>
                  <%= link_to manage_colony_people_path(@colony) do %> 
                    Manage <span class="glyphicon glyphicon-new-window"></span>
                  <% end %>
                </small>
                <% @people && @people.each do |person| %>
                  <p>
                    <%= person.first_name %> <%= person.last_name %>: 
                    <% role_names = person.roles_at_colony(@colony.id) %>
                    <% role_names && role_names.each do |role_name| %>
                        <span class="label label-info"><%= role_name %></span>
                    <% end %>
                  </p>
                <% end %>
              <% end %>
              <hr>
              <% if action_name == "new" %>
                <div class="form-group">
                  <%= f.label :number_of_cats %> <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This field will set the initial number of cats in this colony. When the colony is created, you can (optionally) edit the details for each individual cat or add new cats. Once this number is set, the only way to reduce the number of cats is to delete individual cat records. Go to the colony details page and look for the Manage Cats button."></span><br>
                  <%= f.number_field :num_cats, class: 'form-control' %>
                </div>
              <% else %>
                <p>
                  <strong>Number of Cats</strong> <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit the details for individual cats or delete cats by clicking on Manage Cats. To add additional cats to the colony, click the Quick Add button or add cats with individual details under Manage Cats."></span>
                  <span id="number_of_cats" class='label label-default'><%= @colony.num_cats %></span> <span id="cat_add_result" class="label label-success"></span>
                  <small>
                    <%= link_to colony_cats_path(@colony) do %>
                      Manage <span class="glyphicon glyphicon-new-window"></span>
                    <% end %>
                  </small>
                </p>
                <!-- <p>
                  <%#= link_to "Quick Add +1 Cat", quick_create_path(:colony_id => @colony.id), {:remote => true, class: 'btn btn-xs btn-primary'} %> 
                </p> -->
              <% end %>
              <hr>
              <div class="form-group">
                <%= f.label :status_code_id, "Status Code" %> <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Status Codes are user-defined codes that are intended to communicate a colony's current status as it progresses through your program. Status codes can used as filter or search criteria for any of the search functions. They can be added, deleted, and modified by any user with Administrator priviledges. Look under the Tasks menu for the 'Manage Status Codes' link. You must have at least one Status Code defined in order to create colonies. Each colony can only have one status code at a time."></span></span><br>
                <%= f.collection_select( :status_code_id, StatusCode.is_active.not_deleted, :id, :status_code, {prompt: true}, {class: 'form-control'} ) %>
              </div>
              <div class="form-group">
                <%= f.label :user_id, "Assigned Volunteer" %> 
                <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Assigned Volunteers are users that can have colonies assigned to them. They will receive emails when the colony is created, when a note is added to a colony, when the Status Code of a colony is changed, and when a new cat record is created. Go to the Manage Users link under Tasks to change this attribute for existing users."></span><br>
                <%= f.collection_select( :user_id, User.not_deleted.is_assigned_volunteer, :id, :name, {prompt: true}, {class: 'form-control'} ) %>
              </div>
              <div class="form-group">
                <fieldset><legend>Categories <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Categories are optional user-defined labels that can be used as search and filter criteria when using any of the search functions. Look for the Manage Categories link under the Task menu. People can be assigned any number of categories."></span></legend>
                <%= f.collection_check_boxes( :category_ids, Category.for_colonies, :id, :name ) do |b| %>
                  <%= b.label(class: "check_box") do %>             
                      <%= b.check_box(class: "check_box") %>              
                      <%= content_tag(:abbr, b.object.name, title: b.object.description) %> &nbsp;             
                  <% end %>
                <% end %>
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset><legend>Note <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="You have the option to add additional information about this colony that will be attached to the colony as a note. Any number of notes can be added at any time by any user. Notes are time and date stamped and can be displayed on the Colony Details page to provide a history of communication about the colony. The contents of notes will be emailed to the colony's Assigned Volunteer."></span></legend>
                  <%= text_area_tag :note_text, nil, rows: 2, cols: 60, class: 'form-control', placeholder: 'Include Note/History' %>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= check_box_tag :suppress_email %>
        <%= f.label "Check box to suppress emails" %>
      </div>
      <%= f.label "Email Recipients" %>
      <div class="form-group">
        <%= select_tag "email_recipients", raw(@update_options), multiple: true %>
      </div>
      <div class="form-group">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %> 
        <%= link_to 'Cancel', map_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
