
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colonies with Imprecisely Geocoded Address</h4>
      </div>
      <div class="panel-body">
        <div class="well">
          <p>The colonies listed on this page were not precisely geocoded to a specific street address. Please verify the address and make any necessary corrections.</p>
        </div>
        <div id="sm-map-container">
          <div id="sm-map"></div>
          <% LOCATION_TYPES.each do |loc_type,v| %>
            <abbr title='<%= v[:description] %>'><span class='label label-<%= v[:class] %>'><%= loc_type %></span></abbr>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colony List</h4>
      </div>
      <div class="panel-body">
        <table id='data_table' class="display">
          <thead>
            <tr>
              <th>Colony Added</th>
              <th>Name</th>
              <th>Address</th>
              <th>Team Size</th>
              <th>Num cats</th>
              <th>Assigned Vol</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Location Type</th>
            </tr>
          </thead>

          <tbody>
            <% @colonies && @colonies.each do |colony| %>
              <% colony = colony.compact.first if colony.respond_to?('size') %>
              <tr>
                <td><%= colony.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %></td>
                <td><%= colony.formatted_address %></td>
                <td><span class="label label-default"><%= colony.people.uniq.size %></span></td>
                <td><span class="label label-default"><%= colony.num_cats %></span></td>
                <td><span class="label label-success"><%= colony.user.name if colony.user %></span></td>
                <td><abbr title='<%= colony.status_code.description %>'><span class='label label-success' style='background-color:<%= colony.status_code.color %>;'><%= colony.status_code.status_code if colony.status_code %></span></abbr></td>              
                <td><%= link_to 'Show', colony %> | <%= link_to 'Edit', edit_colony_path(colony) %></td> 
                <td><abbr title="<%= LOCATION_TYPES[colony.location_type][:description] %>"><span class='label label-<%= LOCATION_TYPES[colony.location_type][:class] %>'><%= colony.location_type %></span></abbr></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {},  internal: {id: 'sm-map'}}, function(){

  <%# if @hash_colonies.size > 0 %>  
    markers = handler.addMarkers(<%= raw @hash_colonies.to_json %>);
    // markers += handler.addMarkers(<%#= raw @hash_nearbys.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    // handler.getMap().setZoom(16);
  <%# else %>
    // handler.map.centerOn({lat:<%#= @colony.latitude %>,lng:<%#= @colony.longitude %>});
    // handler.getMap().setZoom(16);
  <%# end %>
  
  
});

</script>