
<div class='row'>
	<div class="col-md-3">
	    <div class="panel panel-primary">
	      <div class="panel-heading">
	        <h4>ColonyManager Dashboard</h4>
	      </div>
	      <div class="panel-body">
	      	<% if @duplicates.size>0 || @check_addresses.size>0 %>
	      		<div class="alert alert-warning">
		      		<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Attention Needed</h4>
		      		<% if @duplicates.size>0 %>
		      			<span class='label label-warning'><%= link_to "Duplicate Addresses", manage_duplicates_path, { :class => 'label-link' } %></span>
		      		<% end %>
		      		<% if @check_addresses.size>0 %>
		      			<span class='label label-warning'><%= link_to "Check Addresses", check_addresses_path, { :class => 'label-link' } %></span>
		      		<% end %>
		        </div>
		    <% end %>
	        <h4>Site Totals</h4>
	        <span class='label label-info'><%= pluralize(@colony_count, 'Colony') %></span> <span class='label label-info'><%= pluralize(@cat_count,'Cat') %></span>
	        <h4>Colonies per Status Code</h4>
	        <% @status_codes.each do |sc| %>
	          <abbr title='<%= sc.description %>'><span class='label label-success' style='background-color:<%= sc.color %>'><a class='label-link' href="/map?params_present=true&status_code_id[]=<%= sc.id %>"><%= sc.status_code %>: <%= sc.colonies.not_deleted.size %></a></span></abbr>
	        <% end %>
	        <span class='label label-default'>Unassigned: <%= @no_status_code %></span>
	        <h4>Colonies per Assigned Volunteer</h4>
	        <% @assigned_volunteers.each do |av| %>
	          <span class='label label-success'><a class='label-link' href="/map?params_present=true&user_id[]=<%= av.id %>"><%= av.name %>: <%= av.colonies.not_deleted.size %></a></span>
	        <% end %>
	          <span class='label label-default'>Unassigned: <%= @no_assigned_volunteer %></span>
	        <h4>Colonies per Zip</h4>
	        <% @colonies_per_zip.sort_by {|k,v| v}.reverse.each do |zip,count| %>
	          <span class='label label-success'><a class='label-link' href="/map?params_present=true&zip[]=<%= zip %>"><%= zip %>: <%= count %></a></span>
	        <% end %>
	        <h4>Colonies per Category</h4>
	        <% @categories.each do |category| %>
	          <abbr title='<%= category.description %>'><span class='label label-success'><a class='label-link' href="/map?params_present=true&category_id[]=<%= category.id %>"><%= category.name %>: <%= category.colonies.not_deleted.size %></a></span></abbr>
	        <% end %>
	      </div>
	    </div>
  	</div>
  	<div class='col-md-9'>
  		<div class='row'>
	  	</div>
	  	<div class='row'>
	  		<div class='col-md-12'>
	  			<h3>Colonies Last 90 Days</h3>
	  			<%= line_chart Colony.not_deleted.inserted_last_x_days(90).group("DATE(ins_date)").count %>
	  		</div>
	  	</div>
	  	<div class='row'>
	  		<div class='col-md-12'>
	  			<h3>Colonies All Time</h3>
	  			<%= line_chart Colony.not_deleted.inserted_last_x_days(99999).group("DATE(ins_date)").count %>
	  		</div>
	  	</div>
	  	<div class='row'>
		  	<div class='col-md-4'>  		
		  		<h3>Colonies by Zip Code</h3>
		  		<%= column_chart Colony.not_deleted.group(:zip_code).order('count_id desc').count('id') %>
		  		<h3>Cats by Zip Code</h3>
		  		<%= column_chart Colony.not_deleted.group(:zip_code).sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		  	<div class='col-md-4'>
		  		<h3>Colonies by Status Code</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:status_code).group('status_codes.status_code').order('count_id desc').count('id') %>
		  		<h3>Cats by Status Code</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:status_code).group('status_codes.status_code').sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		  	<div class='col-md-4'>
		  		<h3>Colonies by Assigned Volunteer</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:user).group(:name).order('count_id desc').count('id') %>
		  		<h3>Cats by Assigned Volunteer</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:user).group(:name).sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		</div>
		<div class='row'>
		  	<div class='col-md-4'>  		
		  		<h3>Colonies by Zip Code</h3>
		  		<%= column_chart Colony.not_deleted.group(:zip_code).order('count_id desc').count('id') %>
		  		<h3>Cats by Zip Code</h3>
		  		<%= column_chart Colony.not_deleted.group(:zip_code).sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		  	<div class='col-md-4'>
		  		<h3>Colonies by Status Code</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:status_code).group('status_codes.status_code').order('count_id desc').count('id') %>
		  		<h3>Cats by Status Code</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:status_code).group('status_codes.status_code').sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		  	<div class='col-md-4'>
		  		<h3>Colonies by Assigned Volunteer</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:user).group(:name).order('count_id desc').count('id') %>
		  		<h3>Cats by Assigned Volunteer</h3>
		  		<%= pie_chart Colony.not_deleted.includes(:user).group(:name).sum(:num_cats).sort_by {|k,v| v}.reverse %>
		  	</div>
		</div>
	</div>
</div>