<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Deleted Colonies</h4>
      </div>
      <div class="panel-body">
        <%= form_tag update_deleted_colonies_path, :html => { :method => :post } %>
        <table id='data_table' class="display">
          <thead>
            <tr>
              <% if current_user_admin? %>
                <th>Restore/Purge</th>
              <% end %>
              <th>Colony Added</th>
              <th>County</th>
              <th>Name</th>
              <th>Address</th>
              <th>Team Size</th>
              <th>Num cats</th>
              <th>Assigned Vol</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Deleted?</th>
              <th>Deleted By</th>
              <th>Deleted Date</th>
            </tr>
          </thead>

          <tbody>
            <% @colonies && @colonies.each do |colony| %>
              <% colony = colony.compact.first if colony.respond_to?('size') %>
              <tr>
                <% if current_user_admin? %>
                  <td><%= check_box_tag "colony_ids[]", colony.id %></td>
                <% end %>
                <td><%= colony.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= colony.county %></td>
                <td><%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %></td>
                <td><%= colony.formatted_address %></td>
                <td><span class="label label-default"><%= colony.people.uniq.size %></span></td>
                <td><span class="label label-default"><%= colony.num_cats %></span></td>
                <td><span class="label label-success"><%= colony.user.name if colony.user %></span></td>
                <td><abbr title='<%= colony.status_code.description %>'><span class='label label-success' style='background-color:<%= colony.status_code.color %>;'><%= colony.status_code.status_code if colony.status_code %></span></abbr></td>
                
                <td><%= link_to 'Show', colony %> | <%= link_to 'Edit', edit_colony_path(colony) %>                
                </td> 
                <td><%= colony.deleted %></td>
                <td><%= user(colony.deleted_by).name %></td>
                <td><%= colony.deleted_at.to_formatted_s(:friendly_date) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= radio_button_tag :colony_selected, 'none', :checked => true %> 
        <%= label_tag :colony_selected_none, 'Take No Action' %><br>
        <%= radio_button_tag :colony_selected, 'purge' %> 
        <%= label_tag :colony_selected_purge, 'Purge All Selected' %><br>
        <%= radio_button_tag :colony_selected, 'restore' %>
        <%= label_tag :colony_selected_restore, 'Restore All Selected' %><br>
        <%= submit_tag "Submit Restore/Purge Selections", class: 'btn btn-warning' %>
        
      </div>
    </div>
  </div>
</div>