
<div class='row'>
	
  	
		<div class="jumbotron bg_sky_blue">
		<div class='container'>
			<div class='col-md-2'>
		  	</div>
		  	<div class='col-md-8'>
		  <h1><%= ENV["APPLICATION_NAME"] %> <%= link_to 'Try It!', new_user_session_path, class: 'btn btn-primary btn-lg' %></h1>
		  <p><%= ENV["APPLICATION_NAME"] %> is a comprehensive, flexible solution that supports the operation of Community Cat Programs.</p>
		  
			</div>
			<div class='col-md-2'>
  			</div>
  		</div>
  		</div>	
	
</div>
<div class='row'>
	<div class='col-md-3'>
  	</div>
	<div class="col-md-6">
		
					<div class='col-md-12'>

						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <%= image_tag('Slide1.jpg', :alt => 'Slide1') %>
						      <!-- <div class="carousel-caption">
						        <h3>Colony addresses are automatically geocoded and mapped.</h3>
						      </div> -->
						    </div>
						    <div class="item">
						      <%= image_tag('Slide2.jpg', :alt => 'Slide2') %>
						      <!-- <div class="carousel-caption">
						        <h3>Colony details include nearby colonies and user notes.</h3>
						      </div> -->
						    </div>
						    <div class="item">
						      <%= image_tag('Slide3.jpg', :alt => 'Slide3') %>
						      <!-- <div class="carousel-caption">
						        <h3>Upload your current colony list using CSV</h3>
						      </div> -->
						    </div>
						    <div class="item">
						      <%= image_tag('Slide4.jpg', :alt => 'Slide4') %>
						      <!-- <div class="carousel-caption">
						        <h3>Create custom status codes that match your process</h3>
						      </div> -->
						    </div>
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-md-3'>
  	</div>
</div>