<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colony Team</h4>
      </div>
      <div class="panel-body">


        <%#= form_with url: update_colony_people_path(@colony), method: :post do |f| %>

        <% @people && @people.each do |person| %>
            <p id="person_id_<%= person.id %>">
                <%= person.first_name %> <%= person.last_name %>: 
                <% person_role_names = person.roles_at_colony(@colony.id) %>
                <% @role_names && @role_names.each do |role_name| %>
                    <%= label_tag role_name %>
                    <%= check_box_tag "role", role_name, person_role_names.include?(role_name),
                        data: {
                            remote: true,
                            url: url_for( action: :update_colony_person, id: @colony.id, person_id: person.id, role: role_name ),
                            method: "POST"
                        }
                    %>
                <% end %>
            </p>   
        <% end %>
        <%#= f.submit "Update" %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Add Person To Colony</h4>
      </div>
    </div>
    <div class="panel-body">
      <%= form_tag(person_search_selection_path, :method => "get", id: "search-form") do %>
        <%= hidden_field_tag :person_id %>
        <div class="input-group">
            <%= autocomplete_field_tag "search", "", people_autocomplete_person_full_name_path, :id_element => '#person_id', 'data-noMatchesLabel' => 'No people matching that name exist.', class: "form-control", placeholder: "Search Name: Last, First" %>
            <span class="input-group-btn">
                <%= button_to 'Add Person', new_person_path, class: 'btn btn-default', id: 'add_person_button', :disabled => true %>
            </span>
        </div>
        <div id="new_person_roles" class="input-group">
          <% @role_names && @role_names.each do |role_name| %>
            <%= label_tag role_name %>
            <%= check_box_tag "new_role", role_name, false,
                data: {
                    remote: true,
                    url: "",
                    method: "POST"
                }
            %>
          <% end %>
        </div>
        <div id="already_part_of_colony" class="alert alert-warning">
          This person is already part of the colony team. Please manage their roles in the above section.
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back to Colony', @colony, class: 'btn btn-default' %>
  </div>
</div>

<script>
window.addEventListener("load", () => {
  const links = document.querySelectorAll("input[data-remote]");
  links.forEach((element) => {
    element.addEventListener("ajax:success", () => {
      alert("The article was deleted.");
    });
  });
});
</script>

<script type="text/javascript" charset="utf-8">
  $( document ).ready(function() {
    $("#new_person_roles").hide();
    $("#already_part_of_colony").hide();

    function delay(callback, ms) {
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $('#search').bind('railsAutocomplete.select', function(event, data){
      let person_id = $("#person_id").val();
      let person_element = $(`#person_id_${person_id}`);
      if (person_element.size() == 0) {
        if (person_id != "") {
          $("#new_person_roles").show();
          $("input[name='new_role']").each(function() {
            let role = $(this).val();
            let url = `/update_colony_person/colony/<%= @colony.id %>/person/${person_id}/role/${role}`
            $(this).data('url', url);
          });
        }
      } else {
        $("#already_part_of_colony").show();
      }
    });

    $( "#search" ).keyup(delay(function() {
        $("#already_part_of_colony").hide();
        $("#new_person_roles").hide();

        let btn = $("#add_person_button");
        if( $('.ui-menu-item-wrapper').length && $('.ui-menu-item-wrapper')[0].innerText.startsWith('No people matching that name exist.') ) {
            btn.prop("disabled", false);
            btn.addClass('btn-primary');
            btn.removeClass('btn-default');
        } else {
            btn.prop("disabled", true);
            btn.addClass('btn-default');
            btn.removeClass('btn-primary');
        }
    }, 500));
  });
</script>