<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Manage Colonies with Duplicate Address</h4>
      </div>
      <div class="panel-body">
        <table id='data_table' class="display">
          <thead>
            <tr>
              <th>Colony Added</th>
              <th>County</th>
              <th>Name</th>
              <th>Address</th>
              <th>Team Size</th>
              <th>Num cats</th>
              <th>Assigned Vol</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Deleted?</th>
            </tr>
          </thead>

          <tbody>
            <% @duplicate_colonies && @duplicate_colonies.each do |colony| %>
              <tr>
                <td><%= colony.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= colony.county %></td>
                <td><%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %></td>
                <td><%= colony.formatted_address %></td>
                <td><span class="label label-default"><%= colony.people.uniq.size %></span></td>
                <td><span class="label label-default"><%= colony.num_cats %></span></td>
                <td><span class="label label-success"><%= colony.user.name if colony.user %></span></td>
                <td><abbr title='<%= colony.status_code.description %>'><span class='label label-success' style='background-color:<%= colony.status_code.color %>;'><%= colony.status_code.status_code if colony.status_code %></span></abbr></td>
                
                <td><%= link_to 'Show', colony %> | <%= link_to 'Edit', edit_colony_path(colony) %>
                  <% if current_user_admin? %>
                    | <%= link_to 'Delete', colony, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td> 
                <td><%= colony.deleted %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>