
<%#= raw @hash.to_json %> 

<div class="row">
  <div class="col-md-2">
    <div class='row'>
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Search Nearby</h4>
          </div>
          <div class="panel-body">
            <%= form_tag map_path, class: 'form-horizontal', :method => :get do %>
              <div class="form-group">
                  <h5><small>1) Address, intersection, landmark, etc.</small></h5>
                  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Location', :autofocus => true %>
                  <h5><small>2) Slide or type to set radius (in miles)</small></h5>
                  <input id="text_radius" name="text_radius" class="form-control" type="number" min="0.1" max="10" step="0.1" oninput="this.form.radius.value=this.value" placeholder="Radius (miles)">
                  
                  <input id="radius" name="radius" value="3" type="range" min="0.1" max="10" step="0.1" oninput="this.form.text_radius.value=this.value">
                  <h5><small>3) Search</small></h5>
                  <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-12">
        <%= render "shared/my_filters" %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><%= @header %> <% if @results_message != "" %> <span class='badge badge-default'>Filters: <%= @results_message %></span> <% end %></h4>
      </div>
      <div class="panel-body">        
        <div id="map-container">
          <div id="map"></div>
          <% @status_codes.each do |s| %>
            <abbr title='<%= s.description %>'><span class='label label-success' style="background-color:<%= s.color %>;color:black;"><%= s.status_code %></span></abbr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Filters <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Set one or more filters below and click button. Results will include only colonies that match all selected criteria."></span></h4>
          </div>
          <div class="panel-body">
            <%= form_tag map_path, class: 'form-horizontal form-group-sm', :method => :get do %>
              <%= render 'shared/filter' %>
              <%= render "shared/save_filter" %>
              <div class="form-group">        
                <%= submit_tag "Apply Filter", :name => nil, class: 'btn btn-default' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="listTabs" role="tablist">
      <li role="presentation" class="active" id="colonies-tab">
        <a href="#colonies" id="colonies-tab-link" role="tab" data-toggle="tab" aria-controls="colonies" aria-expanded="true">
          Colonies
        </a>
      </li>
      <li role="presentation" id="people-tab">
        <a href="#people" id="people-tab-link" role="tab" data-toggle="tab" aria-controls="people" aria-expanded="false">
          People
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="colonies">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>
              Colony List 
              <% if current_user.admin %>
                <%= link_to "Download To CSV", map_path(params.to_unsafe_h.merge(format: "csv")), :class => "btn btn-default btn-xs", data: {turbolinks: false} %>
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id='data_table' class="table table-condensed">
                <thead>
                  <tr>
                    <% if @search %>
                    <th>Distance</th>
                    <% end %>
                    <th>Colony Added</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Team Size</th>
                    <th>Num cats</th>
                    <th>Assigned Vol</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <% @colonies.each do |colony| %>
                    <% colony = colony.compact.first if colony.respond_to?('size') %>
                    <tr>
                      <% colony = colony.compact.first if colony.respond_to?('size') %>
                      <% if @search %>
                      <td><%= colony.distance.round(2) %></td>
                      <% end %>
                      <td><%= colony.created_at.to_formatted_s(:friendly_date) %></td>
                      <td>
                        <%= link_to colony do %>
                          <%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %>
                        <% end %>
                        <% if colony.trapping_projects.not_finalized.size > 0 %>
                          <br>
                          <span class="label label-info">
                            <span id='filter-tooltip' aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This colony has a scheduled trapping project. Click on colony link for details.">
                              <span class="glyphicon glyphicon-calendar"></span>
                              <%= colony.trapping_projects.not_finalized.minimum(:scheduled_date) %>
                            </span>
                          </span>
                        <% end %>
                      </td>
                      <td><%= colony.formatted_address %></td>
                      <td><span class="label label-default"><%= colony.people.uniq.size %></span></td>
                      <td><span class="label label-default"><%= colony.num_cats %></span></td>
                      <td><span class="label label-success"><%= colony.user.name if colony.user %></span></td>
                      <td><abbr title='<%= colony.status_code.description %>'><span class='label label-success' style='background-color:<%= colony.status_code.color %>;'><%= colony.status_code.status_code if colony.status_code %></span></abbr></td>
                      
                      <td><%= link_to 'Show', colony %> | <%= link_to 'Edit', edit_colony_path(colony) %>
                        <% if current_user_admin? %>
                          | <%= link_to 'Delete', colony, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                      </td> 
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="people">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>
              People List 
            </h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id='data_table' class="table table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Available Roles</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <% @people && @people.each do |person| %>
                    <tr>
                      <td>
                        <%= link_to person do %>
                          <%= person.first_name %> <%= person.last_name %>
                        <% end %>
                      </td>
                      <td><%= person.formatted_address %></td>
                      <td>
                        <% person.roles.available.each do |role| %>
                          <span class="label label-default"><%= role.name %></span>
                        <% end %>
                      </td>
                      
                      <td><%= link_to 'Show', person %> | <%= link_to 'Edit', edit_person_path(person) %>
                        <% if current_user_admin? %>
                          | <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                      </td> 
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {zoom:12},  internal: {id: 'map'}}, function(){

  <% if @hash && @hash.size > 0 %>  
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  <% else %>
    handler.map.centerOn({lat:40.045592,lng:-86.008596});
  <% end %>
  
  
});

</script>