<div class="row">
  
  <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Mass Assign Instructions</h4>
        </div>
        <div class="panel-body" style="padding:25px;">
          <%= form_tag mass_assign_path, class: 'horizontal-form form-group-sm', :method => :get,  :autocomplete => :off  do %>
          <div class="form-group">          
                <div id="alert" class="alert alert-info"><h4>Mass Assign Instructions</h4> <%= submit_tag "Test", :id => "mass_assign_submit", class: 'btn btn-default' %><br><span id="alert_message"><small>Select filter(s) and click 'Test'. <strong>No changes will be made.</strong> </small></span>
                  <div style="<%= @mass_assign_visibility %>">
                    <br><p class='small'><strong>Submit Mass Assignment:</strong> When you are ready to submit a mass assignment, select one or more of the new values below, then click the "Submit" button which will appear above.</p>
                      <div class="form-group">
                        <%= collection_select( :new_user_id, nil, User.not_deleted.is_assigned_volunteer, :id, :name, {:include_blank => "New Assigned Volunteer"}, {class: 'form-control input-sm'} ) %>
                      </div>
                      <div class="form-group">
                        <%= collection_select( :new_status_code_id, nil, StatusCode.not_deleted, :id, :status_code, {:include_blank => "New Status Code"}, {class: 'form-control input-sm'} ) %>
                      </div>
                  </div>
                </div>
              </div>         
          
        </div>
      </div>

  </div>
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Filters <span id='filter-tooltip' class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Set one or more filters below and click button. Results will include only colonies that match all selected criteria."></span></h4>
      </div>
      <div class="panel-body" style="padding:25px;">
            
              
              <%= render 'shared/filter' %>
              <% end %> <!-- form -->
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Mass Assign Colony List</h4>
      </div>
      <div class="panel-body">
        <table id='data_table' class="display">
          <thead>
            <tr>
              <% if @search %>
              <th>Distance</th>
              <% end %>
              <th>Colony Added</th>
              <th>County</th>
              <th>Name</th>
              <th>Address</th>
              <th>Team Size</th>
              <th>Num cats</th>
              <th>Assigned Vol</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Deleted?</th>
            </tr>
          </thead>

          <tbody>
            <% @colonies && @colonies.each do |colony| %>
              <% colony = colony.compact.first if colony.respond_to?('size') %>
              <tr>
                <% if @search %>
                <td><%= colony.distance.round(2) %></td>
                <% end %>
                <td><%= colony.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= colony.county %></td>
                <td><%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %></td>
                <td><%= colony.formatted_address %></td>
                <td><span class="label label-default"><%= colony.people.uniq.size %></span></td>
                <td><span class="label label-default"><%= colony.num_cats %></span></td>
                <td><span class="label label-success"><%= colony.user.name if colony.user %></span></td>
                <td><abbr title='<%= colony.status_code.description %>'><span class='label label-success' style='background-color:<%= colony.status_code.color %>;'><%= colony.status_code.status_code if colony.status_code %></span></abbr></td>
                
                <td><%= link_to 'Show', colony %> | <%= link_to 'Edit', edit_colony_path(colony) %>
                  <% if current_user_admin? %>
                    | <%= link_to 'Delete', colony, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td> 
                <td><%= colony.deleted %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
