<div class='row'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
        <div class='panel panel-primary'>
        <div class='panel panel-heading'>
            <h4>Add New Colony</h4>
        </div>
        <div class='panel panel-body'>
            <div class="alert alert-warning">
                <p>Before clicking the 'Add Colony' button, you must enter the colony address to make sure the colony record does not already exist.</p>
            </div>
            <%= form_tag(search_selection_path, :method => "get", id: "search-form") do %>
                <%= hidden_field_tag :colony_id %>
                <div class="input-group">
                    <%= autocomplete_field_tag "search", "", colonies_autocomplete_colony_formatted_address_path, :id_element => '#colony_id', 'data-noMatchesLabel' => 'No colonies exist at that address. Add New Colony.', class: "form-control", placeholder: "Search Address" %>
                    <%#= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for Address", type: "search", data: {autocomplete: colonies_autocomplete_colony_formatted_address_path, id_element: '#colony_id', 'data-noMatchesLabel' => ''} %> 
                    <span class="input-group-btn">
                        <%= button_to 'Add Colony', new_colony_path, class: 'btn btn-default', id: 'add_colony_button', :disabled => true %>
                    </span>
                </div>
            <%end%>
            
        </div>
        </div>
    </div>
    <div class='col-md-2'>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    function delay(callback, ms) {
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $('#search').bind('railsAutocomplete.select', function(event, data){
        $('#search-form').submit();
    });

    $( "#search" ).keyup(delay(function() {
        let btn = $("#add_colony_button");
        if( $('.ui-menu-item-wrapper').length && $(".ui-menu-item-wrapper")[0].innerText.startsWith('No colonies exist at that address.') ) {
            btn.prop("disabled", false);
            btn.addClass('btn-primary');
            btn.removeClass('btn-default');
        } else {
            btn.prop("disabled", true);
            btn.addClass('btn-default');
            btn.removeClass('btn-primary');
        }
    }, 500));
</script>
