<% if @colony.deleted? %>
  <div class="alert alert-danger" role="alert"><h4>You are viewing a deleted colony.</h4></div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colony Map</h4>
      </div>
      <div class="panel-body">
        <div id="sm-map-container">
          <div id="sm-map"></div>
          <% @status_codes.each do |s| %>
            <abbr title='<%= s.description %>'><span class='label label-success' style="background-color:<%= s.color %>;color:black;"><%= s.status_code %></span></abbr>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colony Details</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <p>
            <strong>Name: </strong>
            <%= @colony.colony_name %>
          </p>

          <p>
            <strong>Added:</strong>
            <abbr title="<%= @colony.ins_date.strftime("%B %d, %Y") %>"><span class="label label-info"><%= time_ago_in_words(@colony.ins_date) %> ago</span></abbr>
          </p>

          <p>
            <strong>Assigned To:</strong>
            <% if @colony.user %>
              <span class='label label-success'><a class='label-link' href="/map?params_present=true&user_id[]=<%= @colony.user.id %>"><%= @field_volunteer %></a></span>
            <% else %>
              Unassigned
            <% end %>
          </p>

          <hr>

          <p>
            <strong>Location:</strong>
            <%= @colony.formatted_address %> <abbr title='<%= LOCATION_TYPES[@colony.location_type][:description] %>'><span class='label label-<%= LOCATION_TYPES[@colony.location_type][:class] %>'><%= @colony.location_type %></span></abbr>
          </p>
          
          <% if @colony.business_name %>
            <p>
              <strong>Business:</strong>
              <%= @colony.business_name && !@colony.business_name.empty? ? @colony.business_name : "N/A" %>
            </p>
          <% end %>
          <% if @colony.neighborhood %>
            <p>
              <strong>Neighborhood:</strong>
              <%= @colony.neighborhood %>
            </p>
          <% end %>
          <% if @colony.township %>
            <p>
              <strong>Township</strong>
              <%= @colony.township %>
            </p>
          <% end %>
          <% if @colony.county %>
            <p>
              <strong>County:</strong>
              <%= @colony.county %>
            </p> 
          <% end %>

          <hr>

          <p>
            <strong>Status:</strong>
            <abbr title='<%= @colony.status_code.description %>'><span class='label label-success' style="background-color:<%= @colony.status_code.color %>;"><a class='label-link' href="/map?params_present=true&status_code_id[]=<%= @colony.status_code.id %>"><%= @status_code %></a></span></abbr>
          </p>
          <p>
            <strong>Time in Status:</strong>
            <abbr title="<%= @colony.status_code_change_date.to_formatted_s(:friendly_date) %>"><span class="label label-info"><%= time_ago_in_words(@colony.status_code_change_date) %></span></abbr>
          </p>
        </div>
        <div class="col-md-6">
        
          <p>
            <strong>Colony Team</strong> 
            <span class="label label-default"><%= @people.size %></span> 
            <small>
              <%= link_to manage_colony_people_path(@colony) do %> 
                Manage <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </small>
          </p>
          <% @people && @people.each do |person| %>
            <p>
              <%= person.first_name %> <%= person.last_name %>: 
              <% role_names = person.roles_at_colony(@colony.id) %>
              <% role_names && role_names.each do |role_name| %>
                  <span class="label label-info"><%= role_name %></span>
              <% end %>
              <a data-toggle="collapse" href="#collapseExample<%= person.id %>" aria-expanded="false" aria-controls="collapseExample">
                <small>Show</small>
              </a>
              <div class="collapse" id="collapseExample<%= person.id %>">
                <div class="well">
                  <strong>Phone:</strong> <%= person.phone %>
                </div>
              </div>
            </p>
          <% end %>

          <hr> 

          <p>
            <strong>Cats:</strong>
            <span class='label label-default'><%= @colony.num_cats %></span> 
            <small>
              <%= link_to colony_cats_path(@colony) do %>
                Manage <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </small>
          </p>

          <hr>
          
          <p>
            <strong>Categories:</strong>
            <% @categories.each do |category| %>
              <abbr title='<%= category.description %>'><span class='label label-success'><a class='label-link' href="/map?params_present=true&category_id[]=<%= category.id %>"><%= category.name %></a></span></abbr>
            <% end %>
          </p>

          <hr>

          <p>
            <strong>Trapping Projects</strong>
            <small>
              <%= link_to new_trapping_project_path(:colony_id => @colony.id) do %>
                New <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </small>
          </p>
          
          <% if @trapping_projects.length > 0 %>
            <table class="table table-sm">
              <thead>
                <th>Date</th>
                <th>Trapper</th>
                <th>Cats</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% @trapping_projects.each do |tp| %>
                  <tr>
                    <td><%= tp.actual_date ? tp.actual_date : tp.scheduled_date ? tp.scheduled_date : "Unscheduled" %></td>
                    <td><%= tp.user_id ? link_to(tp.assigned_user, user(tp.user_id)) : "Unassigned" %></td>
                    <td><%= tp.actual_cats ? tp.actual_cats : tp.planned_cats %></td>
                    <td><%= link_to('Show', tp) %> <%= link_to('Edit', edit_trapping_project_path(tp)) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class='col-md-12'>  
          <%= link_to 'Edit', edit_colony_path(@colony), class: 'btn btn-primary' %> 
          <%= link_to 'Cancel', map_path, class: 'btn btn-default' %>  
          <% if current_user_admin? %>
            <%= link_to 'Delete', @colony, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>   
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Nearby Colonies</h4>
      </div>
      <div class="panel-body">
        <% if @colony.nearbys %>
        <div id="nearbys-header">
          
          <a class="btn btn-info" role="button" data-toggle="collapse" href="#colonyNearbys" aria-expanded="false" aria-controls="colonyNearbys">
            Toggle Nearbys List <span id='nearbys-size-badge' class='badge badge-info'><%= @colony_nearbys.size + @people_resources.size %></span>
          </a>
        </div>
        <div id="colonyNearbys" class="collapse">
          <div class="well">
            <table id='nearbys-table' class='table'>
              <thead>
                <tr>
                  <th>Distance</th>
                  <th>What</th>
                  <th>Name</th>
                  <th>Colony Information</th>
                </tr>
              </thead>
              <tbody>

                <% for colony in @colony_nearbys %>
                  <tr>
                    <td><%= pluralize(colony.distance.round(2), 'mile') %></td>
                    <td>Colony</td>
                    <td>
                      <%= link_to colony do %>
                        <%= colony.colony_name ? colony.colony_name : "Unnamed Colony" %>
                      <% end %>
                      <% if colony.trapping_projects.not_finalized.size > 0 %>
                        <br>
                        <span class="label label-info">
                          <span id='filter-tooltip' aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This colony has a scheduled trapping project. Click on the colony link for details.">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <%= colony.trapping_projects.not_finalized.minimum(:scheduled_date) %>
                          </span>
                        </span>
                      <% end %>
                    </td>
                    <td>
                      <span><%= colony.address %></span>
                      <span class='label label-default'><%= pluralize(colony.num_cats, 'Cat') %></span> 
                      <abbr title='<%= colony.status_code.description %>'>
                        <span class='label label-success' style='background-color:<%= colony.status_code.color %>;'>
                          <a class='label-link' href="/map?params_present=true&status_code_id[]=<%= colony.status_code.id %>">
                            <%= colony.status_code.status_code %>
                          </a>
                        </span>
                      </abbr>
                      &nbsp;
                      <% if colony.user %>
                        <span class='label label-success'>
                          <a class='label-link' href="/map?params_present=true&user_id[]=<%= colony.user_id %>">
                            <%= colony.user.name if colony.user %>
                          </a>
                        </span>&nbsp;
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <% for person in @people_resources %>
                  <tr>
                    <td><%= person.distance_to(@colony.to_coordinates).round(2) %> miles</td>
                    <td>Person</td>
                    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
                    <td>
                      <%= person.formatted_address %>
                      <% person.roles.available.each do |role| %>
                        <span class='label label-default'><%= role.name %></span>&nbsp;
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% else %>
          <%= content_tag('p', 'No colonies within 3 miles.') if count == 0 %>
          <%= @geocoder_request if @geocoder_request %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Colony History</h4>
      </div>
      <div class="panel-body">
        <% if @notes %>
          <div id="notes-header">
            
            <%= form_for [@colony, @colony.notes.new], remote: true do |f| %>
              <fieldset>
                <div class="form-group">
                  <%= check_box_tag :suppress_email %>
                  <%= f.label "Check box to suppress emails" %>
                </div>
                <%= f.label "Email Recipients" %>
                <div class="form-group">
                  <%= select_tag "email_recipients", raw(@update_options), multiple: true %>
                </div>
                <p>
                    <%= f.text_area :note_text, rows: 2, cols: 60, class: 'form-control', placeholder: "Add History..." %>
                </p>
                <p>
                    <%= f.submit "Add History", class: "btn btn-primary" %>
                    <a class="btn btn-info" role="button" data-toggle="collapse" href="#colonyNotes" aria-expanded="false" aria-controls="colonyNotes">
                      Toggle History <span id='notes-size-badge' class='badge badge-info'><%= @colony.notes.size-1 %></span>
                    </a>
                </p>
              </fieldset>
          </div>

          <div id="colonyNotes" class="collapse">
            <div class="well">
              <table id="notes-table" class="table">
                <thead>
                  <tr>
                    <th class='col-sm-12'></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @notes %>
                </tbody>
              </table>
              <% end %>
            </div>  
          </section>        
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {},  internal: {id: 'sm-map'}}, function(){

  <% if @hash_colonies.size > 0 %>  
    markers = handler.addMarkers(<%= raw @hash_colonies.to_json %>);
    // markers += handler.addMarkers(<%#= raw @hash_nearbys.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    // handler.getMap().setZoom(16);
  <% else %>
    handler.map.centerOn({lat:<%= @colony.latitude %>,lng:<%= @colony.longitude %>});
    // handler.getMap().setZoom(16);
  <% end %>
  
  
});

</script>


