<%= form_for(@role_value) do |f| %>
    <% if @role_value.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@role_value.errors.count, "error") %> prohibited this role_value from being saved:</h2>
  
        <ul>
        <% @role_value.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :role_value %><br>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :is_active %><br>
      <%= f.check_box :is_active %>
    </div>
    <div class="form-group">
      <%= f.label :is_system_type %><br>
      <%= f.check_box :is_system_type %>
    </div>
    <div class="form-group">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
<% end %>
  