<div class='row'>
  <div class="col-md-3">
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Role Values</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Is active</th>
                  <th>Is System Type</th>
                  <th>Created by</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @role_values && @role_values.each do |role_value| %>
                  <tr>
                    <% created_by_user = user(role_value.created_by) %>
                    <td><%= role_value.name %></td>
                    <td><%= role_value.description %></td>
                    <td><%= role_value.is_active %></td>
                    <td><%= role_value.is_system_type ? "true" : "false" %></td>
                    <td><%= created_by_user.nil? ? "deleted user" : created_by_user.name %></td>
                    <td><%= link_to 'Show', role_value %> | <%= link_to 'Edit', edit_role_value_path(role_value) %> | <%= link_to 'Destroy', role_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to 'New Role Value', new_role_value_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>    
</div>