<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Role Value</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Role Value:</strong>
          <%= @role_value.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @role_value.description %>
        </p>
        <p>
          <strong>Is active:</strong>
          <%= @role_value.is_active %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= user(@role_value.created_by).nil? ? "Deleted User" : user(@role_value.created_by).name %>
        </p>

        <p>
          <strong>Deleted by:</strong>
          <%= @role_value.deleted_by %>
        </p>

        <p>
          <strong>Deleted at:</strong>
          <%= @role_value.deleted_at %>
        </p>

        <%= link_to 'Edit', edit_role_value_path(@role_value), class: 'btn btn-primary' %> 
        <%= link_to 'Cancel', role_values_path, class: 'btn btn-default' %>
        <%= link_to 'New Role Value', new_role_value_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>


