// Place all the styles related to the Colonies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nearbys-section {
    display:none;
}

.digg_pagination a {
    text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;
    color: #105CB6;
    border: 1px solid #9AAFE5;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #9AAFE5;
        border-right-color: #9AAFE5;
        border-bottom-color: #9AAFE5;
        border-left-color: #9AAFE5;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.carousel-caption{
    background: rgba(0,0,0,0.5);
}

.bg_sky_blue {
	background-image:url("jumbotron_bg.jpg");
    background-size: cover;
}

/* Bootstrap modifications */
.panel-body {
    // padding: 15px 25px;
}

.panel-heading {
    padding: 1px 10px;
}

.panel {
    border-style: none;
    box-shadow: none;
}