// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notes-section {
	display:none;
}

whitespace {
	font-family: Verdana, sans-serif;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow:auto;
}
