
          <table class='table'>
            <thead>
              <tr>
                <th><%= action_name == "deleted_cats" ? "Restore/Purge" : "Actions" %></th>
                <th>Name</th>
                <th>Id Code</th>
                <th>Sex</th>
                <th>DOB</th>
                <th>Description</th>
                <th>Medical Info</th>
                <% if action_name == "deleted_cats" %>
                    <th>When Deleted</th>
                    <th>Deleted By</th>
                    <th>Reason for Deletion</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @cats && @cats.each do |cat| %>
                <tr id="<%= cat.id %>">
                    <% if action_name == "deleted_cats" %>
                        <td><%= check_box_tag "cat_ids[]", cat.id %></td>
                    <% else %>
                        <td><%= link_to 'Edit', edit_colony_cat_path(@colony.id,cat.id), class: 'btn btn-primary btn-xs' %> 
                            <%= link_to 'View', colony_cat_path(@colony.id,cat.id), class: 'btn btn-primary btn-xs' %> 
                            <%#= link_to 'Delete', colony_cat_path(@colony.id, cat.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %></td>
                    <% end %>
                        <td><%= cat.name %></td>
                        <td><%= cat.id_code %></td>
                        <td><%= cat.sex %></td>
                        <td><%= cat.dob %></td>
                        <td><%= truncate(cat.physical_description, length: 50) %></td>
                        <td><%= truncate(cat.medical_info, length: 50) %></td>
                        <% if action_name == "deleted_cats" %>
                            <td><%= cat.deleted_at.strftime("%b %d, %Y") %></td>
                            <td><%= user(cat.deleted_by).name %></td>
                            <td><%= cat.delete_reason %></td>
                        <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          