<style>
/* prevents the datepicker calendar from displaying since we are only going by month/year */
  .ui-datepicker-calendar {
    display: none;
    }
</style>

<%= form_for([@colony,@cat]) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Basic Information</h4>
        </div>
        
        <div class="panel-body">
          <div class='form-group'>
            <label>Colony Address</label> <%= @colony.formatted_address %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :microchip_code %>
            <%= f.text_field :id_code, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :sex %>
            <%= f.select :sex, options_for_select(['male','female','unknown','spayed','neutered'], @cat.sex || 'unknown'), {}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :weight_lbs %>
            <%= f.text_field :weight_lbs, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :weight_oz %>
            <%= f.text_field :weight_oz, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Month_of_birth %>
            <%= f.text_field :dob, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= radio_button("cat", "dob_certainty", true) %> <%= f.label :month_of_birth_is_known %>
            <br>
            <%= radio_button("cat", "dob_certainty", false) %> <%= f.label :month_of_birth_is_an_estimate %>
          </div>
          <div class="form-group">
            <%= check_box_tag :suppress_email %>
            <%= f.label "Check box to suppress emails" %>
          </div>
          <%= f.label "Email Recipients" %>
          <div class="form-group">
            <%= select_tag "email_recipients", raw(@update_options), multiple: true %>
          </div>
          <div class="form-group">
            <%= f.submit 'Submit', :class => 'btn btn-primary' %> 
            <%= link_to 'Cancel', colony_cats_path(@colony.id), class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Physical Description <small></small></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_area :physical_description, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Medical Information<small></small></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_area :medical_info, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Add a Note<small></small></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= text_area_tag :note_text, nil, rows: 2, cols: 60, class: 'form-control', placeholder: 'Optional add a note' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
