    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Deleted Cats</h4>
            </div>
            <div class="panel-body">
              <%= form_tag update_deleted_cats_path, :html => { :method => :post } %>
              <%= hidden_field_tag "colony_id", @colony.id %>
              <%= render "cats_table" %>
              <div class="form-group">
                  <%= radio_button_tag :cat_selected, 'none', :checked => true %> 
                  <%= label_tag :cat_selected_none, 'Take No Action' %><br>
                  <%= radio_button_tag :cat_selected, 'purge' %> 
                  <%= label_tag :cat_selected_purge, 'Purge All Selected' %><br>
                  <%= radio_button_tag :cat_selected, 'restore' %>
                  <%= label_tag :cat_selected_restore, 'Restore All Selected' %><br>
                  <%= submit_tag "Submit Restore/Purge Selections", class: 'btn btn-warning' %>
              </div>
            </div>
          </div>
      </div>
    </div>

<%= link_to 'Back to Colony Cats List', colony_cats_path(@colony.id), class: 'btn btn-default' %>