    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Colony Cats</h4>
            </div>

            <%= render "cats_table" %>

          </div>
      </div>
    </div>

<%= link_to "New Cat", new_colony_cat_path(@colony), {class: 'btn btn-primary'} %> <%= link_to 'Back to Colony Details', colony_path(@colony.id), class: 'btn btn-default' %>
<p><small><%= link_to "#{pluralize(@colony.cats.is_deleted.size, 'Cat')} deleted from this colony", deleted_cats_path(:colony_id => @colony.id) %></small></p>