
  <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Basic Information</h4>
        </div>        
        <div class="panel-body">
          <p><strong>Colony Address:</strong> <%= link_to @colony.formatted_address, @colony %></p>
          <p><strong>Date Added:</strong> <%= @cat.created_at.strftime("%b %d, %Y") %> <span class='badge badge-info'><%= time_ago_in_words(@cat.created_at) %> ago</span></p>
          <p><strong>Cat Name:</strong> <%= @cat.name %></p>
          <p><strong>Cat ID/Code:</strong> <%= @cat.id_code %></p>
          <p><strong>Sex:</strong> <%= @cat.sex %></p>
          <p><strong>Weight:</strong> <%= @cat.weight_lbs %> lbs. <%= @cat.weight_oz %> oz.</p>
          <p><strong>Age:</strong> 
              <% if @cat.dob.nil? %>
                N/A
              <% else %>
                <span class="badge"><%= pluralize(age(@cat.dob), "year") %> old</span><br>
                <small> (Cat is <%= @cat.dob_certainty ? 'known' : 'estimated' %> to have been born <%= @cat.dob.strftime('%m/%Y') if @cat.dob %>)<small></small>
              <% end %>
          </p>

          <%= link_to 'Edit', edit_colony_cat_path(@colony.id,@cat.id), class: 'btn btn-primary' %> 
          <%= link_to 'Back to Cats List', colony_cats_path(@colony.id), class: 'btn btn-default' %>  
          <% if current_user_admin? %>
          
          <!-- Button to trigger delete cat modal -->
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteCatModal">Delete</button>
          
          <!-- Modal -->
          <div id="deleteCatModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete Cat Reason</h4>
                </div>
                <div class="modal-body">
                  <p>Why are you deleting this cat?</p>
                  <%= select_tag("delete_reason", options_from_collection_for_select(DeletedCatReason.all,"reason","reason"), :prompt => "Select Reason", class: 'form-control') %>
                </div>
                <div class="modal-footer">
                  <%= link_to 'Delete', colony_cat_path(@colony.id, @cat.id), :id => "delete_cat", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %> 
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          
          
              
        <% end %>
          

        </div>
      </div>  
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Physical Description</h4>
        </div>        
        <div class="panel-body">
          <p><%= @cat.physical_description %></p>
        </div>
      </div> 
    </div> 
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Medical Information</h4>
        </div>        
        <div class="panel-body">
          <p><%= @cat.medical_info %></p>
        </div>
      </div> 
    </div> 
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Cat History</h4>
        </div>
        <div class="panel-body">
          <% if @notes %>
            <div id="notes-header">
              
              <%= form_for [@colony, @cat, @cat.notes.new], remote: true do |f| %>
              <%= f.hidden_field "colony_id", :value => @colony.id.to_s %>
              <%= f.hidden_field "cat_id", :value => @cat.id.to_s %>
                <fieldset>
                  <p>
                      <%= f.text_area :note_text, rows: 2, cols: 60, class: 'form-control', placeholder: "Add Note..." %>
                  </p>
                  <p>
                      <%= f.submit "Add Note", class: "btn btn-primary" %> 
                      <a class="btn btn-info" role="button" data-toggle="collapse" href="#catNotes" aria-expanded="false" aria-controls="catNotes">
                        Toggle Notes <span id='notes-size-badge' class='badge badge-info'><%= @cat.notes.size-1 %></span>
                      </a>
                  </p>
                </fieldset>
            </div>

            <div id="catNotes" class="collapse">
              <div class="well">
                <table id="notes-table" class="table">
                  <thead>
                    <tr>
                      <th class='col-sm-12'></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @notes %>
                  </tbody>
                </table>
                <% end %>  
              </div>
            </div>        
          <% end %>
        </div>
      </div>
    </div>
  </div>