<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Categories</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Name:</strong>
          <%= @category.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @category.description %>
        </p>

        <p>
          <strong>Applies to:</strong>
          <%= @category.model %>
        </p>


        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', categories_path, class: 'btn btn-default' %> 
        <% if current_user.admin %>
        <%= link_to( 'New Category', new_category_path, class: 'btn btn-primary') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>