
<%= form_with(model: cat_event_outcome) do |form| %>
  <% if @cat_event_outcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_event_outcome.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @cat_event_outcome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @cat_event_outcome.is_system_outcome %>
    <div class="alert alert-info role="alert">
      This Cat Event Outcome is a system-required outcome, and may not be modified or disabled.
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: 'form-control', disabled: @cat_event_outcome.is_system_outcome %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control', disabled: @cat_event_outcome.is_system_outcome %>
  </div>

  <div class="form-group">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, disabled: @cat_event_outcome.is_system_outcome %>
  </div>

  <div class="form-group">
    <%= form.label :remove_cat %>
    <%= form.check_box :remove_cat, disabled: @cat_event_outcome.is_system_outcome %>
  </div>

  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

