<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Edit Cat Event Outcome</h4>
      </div>
      <div class='panel panel-body'>

        <%= render 'form', cat_event_outcome: @cat_event_outcome %>

        <%= link_to 'Show', @cat_event_outcome, class: 'btn btn-primary' %>
		<%= link_to 'Back', cat_event_outcomes_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
