<div class='row'>
  <div class="col-md-2">
  </div>
  <div class='col-md-8'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Cat Event Outcomes</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>

            <table id='data_table' class='display'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Is active</th>
                  <th>Created by</th>
                  <th>Is system outcome</th>
                  <th>Remove Cat?</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @cat_event_outcomes.each do |cat_event_outcome| %>
                  <tr>
                    <td><%= cat_event_outcome.name %></td>
                    <td><%= cat_event_outcome.description %></td>
                    <td><%= cat_event_outcome.is_active %></td>
                    <td><%= user(cat_event_outcome.created_by) && user(cat_event_outcome.created_by).name %></td>
                    <td><%= cat_event_outcome.is_system_outcome ? cat_event_outcome.is_system_outcome : "false" %></td>
                    <td><%= cat_event_outcome.remove_cat ? cat_event_outcome.remove_cat : "false" %></td>
                    <td><%= link_to 'Show', cat_event_outcome %> <%= link_to 'Edit', edit_cat_event_outcome_path(cat_event_outcome) %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <%= link_to 'New Cat Event Outcome', new_cat_event_outcome_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>    
</div>
