<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Cat Event Outcome</h4>
      </div>
      <div class='panel panel-body'>
      <p>
        <strong>Name:</strong>
        <%= @cat_event_outcome.name %>
      </p>
      
      <p>
        <strong>Description:</strong>
        <%= @cat_event_outcome.description %>
      </p>
      
      <p>
        <strong>Is active:</strong>
        <%= @cat_event_outcome.is_active %>
      </p>
      
      <p>
        <strong>Remove cat?:</strong>
        <%= @cat_event_outcome.remove_cat ? "true" : "false" %>
      </p>

      <p>
        <strong>Created by:</strong>
        <%= user(@cat_event_outcome.created_by) && user(@cat_event_outcome.created_by).name %>
      </p>
      
      <p>
        <strong>Is system outcome:</strong>
        <%= @cat_event_outcome.is_system_outcome ? @cat_event_outcome.is_system_outcome : "false" %>
      </p>


        <%= link_to 'Edit', edit_cat_event_outcome_path(@cat_event_outcome), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', cat_event_outcomes_path, class: 'btn btn-default' %> 
        <% if current_user.admin %>
          <%= link_to( 'New Cat Event Outcome', new_cat_event_outcome_path, class: 'btn btn-primary') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
