
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>My Filters</h4>
      </div>
      <div class="panel-body">
        <table id="data_table" class="display">
          <thead>
            <tr>
              <th>Filter Name</th>
              <th>Parameters</th>
              <th>Filter Created Date</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @user_filters && @user_filters.each do |user_filter| %>
              <tr>
                <td><%= user_filter.name %></td>
                <td><%= user_filter.filter_params %></td>
                <td><%= user_filter.created_at.to_formatted_s(:friendly_date) %></td>
                <td><%= link_to 'Delete', user_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Back', map_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>


