<%= form_with(model: colony_population_event_type) do |form| %>
  <% if @colony_population_event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colony_population_event_type.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @colony_population_event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @colony_population_event_type.is_system_type %>
    <div class="alert alert-info role="alert">
      This Colony Population Event Type is a system-required type, and may not be modified or disabled.
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: 'form-control', disabled: @colony_population_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control', disabled: @colony_population_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, disabled: @colony_population_event_type.is_system_type %>
  </div>

  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
