<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Edit Colony Population Event Type</h4>
      </div>
      <div class='panel panel-body'>

        <%= render 'form', colony_population_event_type: @colony_population_event_type %>

        <%= link_to 'Show', @colony_population_event_type, class: 'btn btn-primary' %>
		<%= link_to 'Back', colony_population_event_types_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
