<div class='row'>
  <div class="col-md-2">
  </div>
  <div class='col-md-8'>
    <div class='panel panel-primary'>
      <div class="panel-heading"><h4>Manage Colony Population Event Types</h4></div>
        <div class="panel-body">
          <div class='col-md-12'>

            <table id='data_table' class='display'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Is active</th>
                  <th>Deleted at</th>
                  <th>Is deleted</th>
                  <th>Created by</th>
                  <th>Deleted by</th>
                  <th>Is system type</th>
                  <th>Actions</th>

                </tr>
              </thead>

              <tbody>
                <% @colony_population_event_types.each do |colony_population_event_type| %>
                  <tr>
                    <td><%= colony_population_event_type.name %></td>
                    <td><%= colony_population_event_type.description %></td>
                    <td><%= colony_population_event_type.is_active %></td>
                    <td><%= colony_population_event_type.deleted_at %></td>
                    <td><%= colony_population_event_type.is_deleted %></td>
                    <td><%= user(colony_population_event_type.created_by) && user(colony_population_event_type.created_by).name %></td>
                    <td><%= user(colony_population_event_type.deleted_by) && user(colony_population_event_type.deleted_by).name %></td>
                    <td><%= colony_population_event_type.is_system_type ? colony_population_event_type.is_system_type : "false" %></td>
                    <td>
                      <%= link_to 'Show', colony_population_event_type %> 
                      <%= link_to 'Edit', edit_colony_population_event_type_path(colony_population_event_type) %> 
                      <%#= link_to 'Destroy', colony_population_event_type, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <%= link_to 'New Colony Population Event Type', new_colony_population_event_type_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>    
</div>

