<div class='row'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-primary'>
      <div class='panel panel-heading'>
        <h4>Display Colony Population Event Type</h4>
      </div>
      <div class='panel panel-body'>
        <p>
          <strong>Type name:</strong>
          <%= @colony_population_event_type.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @colony_population_event_type.description %>
        </p>

        <p>
          <strong>Is active:</strong>
          <%= @colony_population_event_type.is_active %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= user(@colony_population_event_type.created_by) && user(@colony_population_event_type.created_by).name %>
        </p>

        <p>
          <strong>Is system type:</strong>
          <%= @colony_population_event_type.is_system_type ? @colony_population_event_type.is_system_type : "false" %>
        </p>


        <%= link_to 'Edit', edit_colony_population_event_type_path(@colony_population_event_type), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', colony_population_event_types_path, class: 'btn btn-default' %> 
        <% if current_user.admin %>
          <%= link_to( 'New Colony Population Event Type', new_colony_population_event_type_path, class: 'btn btn-primary') %>
        <% end %>

      </div>
    </div>
  </div>
  <div class='col-md-3'>
  </div>
</div>
