<style>
	.navbar-brand-name > {

  display: inline-block;
  float: left;

}

.navbar-brand-name > img {
  display: inline-block;
  float: left;
  padding: 0 0 0 0;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand-name">
      	<a href="<%= root_url %>">
      		<img src="/assets/logos/<%= ENV['LOGO_FILENAME'] %>" style="max-height:45px;" alt="logo" align="left">
      		<span><h4 class="navbar-text"><%= ENV["APPLICATION_NAME"] %></h4></span>
      	</a>
      	
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<% if current_user %>
      		<li><%= link_to map_path do %>
      				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Colonies
      			<% end %>
			</li>
			<li><%= link_to people_path do %>
					People
				<% end %>
			</li>

			<li><%= link_to trapping_projects_path do %>
					Trapping Projects
				<% end %>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><%= link_to add_colony_path do %>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Colony
						<% end %>
					</li>
					<li><%= link_to add_person_path do %>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Person
						<% end %>
					</li>
				</ul>
			</li>
			
	    <% end %>

	        <% if current_user_admin? %>
		        <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Tasks <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li><%= link_to dashboard_path do %>
		          		<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Dashboard
		          		<% end %>
		          	</li>

	          		<li class='divider' role='seperator'></li>

		          	<li><%= link_to new_user_invitation_path do %>
		          		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Invite New User
		          		<% end %>
		          	</li>
		  			<li><%= link_to users_path do %>
		  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users
		  				<% end %>
		  			</li>

		  			<li class='divider' role='seperator'></li>

		  			<li><%= link_to status_codes_path do %>
		  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Status Codes
		  				<% end %>
					  </li>
					<li><%= link_to role_values_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Role Values
						<% end %>
					</li>
		  			<li><%= link_to categories_path do %>
		  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Categories
		  				<% end %>
					</li>
					<li><%= link_to cat_event_outcomes_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Cat Outcomes
						<% end %>
					</li> 
					<li><%= link_to cat_event_types_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Cat Event Types
						<% end %>
					</li>
					<li><%= link_to clinics_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Clinics
						<% end %>
				  	</li>
					<li><%= link_to colony_population_event_types_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Colony Population Event Types
						<% end %>
					</li>
		  			<li><%= link_to deleted_cat_reasons_path do %>
		  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Deleted Cat Reasons
		  				<% end %>
					</li>
					  
					<li class='divider' role='seperator'></li>
					
					<li><%= link_to deleted_colonies_path do %>
		  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Deleted Colonies
		  				<% end %>
					</li>
					<li><%= link_to deleted_people_path do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage Deleted People
						<% end %>
					</li>
		  			<li><%= link_to mass_assign_path do %>
		  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Mass Assign Colonies
		  				<% end %>
		  			</li>
		  			

		  			<li class='divider' role='seperator'></li>

		  			<li><%= link_to manage_duplicates_path do %>
		  				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Duplicate Colonies
		  				<% end %>
		  			</li>
		  			
		  			<li><%= link_to check_addresses_path do %>
		  				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Check Addresses
		  				<% end %>
		  			</li>

		  			<li class='divider' role='seperator'></li>

		  			<!--<li><%#= link_to map_path(format: :csv) do %>-->
		  			<!--	<span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download All Colonies To CSV...-->
		  			<!--	<%# end %>-->
		  			<!--</li>-->
		  			<!--<li><a href="#" data-toggle="modal" data-target="#csvUpload"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload New Colonies From CSV</a></li>-->

		  			<!--<li class='divider' role='seperator'></li>-->

		  		  </ul>
		        </li>
		    <% end %>
      </ul>


      

	  <% if current_user %>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><%= link_to current_user do %>
      			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @current_user && @current_user.name %>
      			<% end %>
      		</li>
      		
	      	<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
		        <ul class="dropdown-menu" role="menu">
					<li>
						<a href="<%= ENV['OWNER_WEBSITE_URL'] %>" target="_blank"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> <%= ENV['OWNER_WEBSITE_SHORTNAME'] %></a>
					</li>
					<li>
						<a href="mailto:<%= ENV['DEVELOPER_EMAIL'] %>?subject=<%= ENV["APPLICATION_NAME"] %> Inquiry"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Support Request</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#aboutModal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About this App</a>
					</li>
		          
				</ul>
	   		</li>
				
		    
		    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
	      </ul>
	  <% else %>
	  	<ul class="nav navbar-nav navbar-right">
	      <li><%= link_to 'Sign In', new_user_session_path %></li>
	    </ul>
	  <% end %>	      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

			<!-- CSV Upload Modal -->
			<div class="modal fade" id="csvUpload" tabindex="-1" role="dialog" aria-labelledby="csvUploadLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="csvUploadLabel">Upload CSV</h4>
			      </div>
			      <div class="modal-body">
			      	<h3>Instructions for creating upload file:</h3>
			      	<p><strong>You must include headers in your file.</strong></p>
			      	<p><strong>You may include any of the following headers.</strong> Order does not matter, but you must type the headers exactly as shown below.</p>
			      	<ul>
			      		<li>business_name</li>
			      		<li>first_name</li>
			      		<li>last_name</li>
			      		<li>address1</li>
			      		<li>address2</li>
			      		<li>city</li>
			      		<li>state</li>
			      		<li>zip</li>
			      		<li>phone</li>
			      		<li>primary_phone_description</li>
			      		<li>alt1_phone</li>
			      		<li>alt1_phone_desc</li>
			      		<li>email</li>
			      		<li>primary_email_desc</li>
			      		<li>alt1_email</li>
			      		<li>alt1_email_desc</li>
			      		<li>num_cats</li>
			      	</ul>
			      	<p><strong>Minimum Required Headers</strong> to allow geocoding/mapping:</p>
			      	<ul>
			      		<li>address1</li>
			      		<li>city</li>
			      		<li>state</li>
			      	</ul>
			      	<p><strong>File must be <a href="http://en.wikipedia.org/wiki/Comma-separated_values">Comma Separated Values</a> file format (CSV)</strong>.</p>
			      	<h4>Get your file:</h4>

			        <%= form_tag import_colonies_path, multipart: true do %>
				        	<%= file_field_tag :file %>
				    		
			      </div>
			      <div class="modal-footer">
			        	<%= submit_tag "Upload", :name => nil, class: 'btn btn-primary' %>
			  		<% end %>
			      </div>
			    </div>
			  </div>
			</div>
			
<!-- About Application Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">			
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About this Application</h4>
      </div>
      <div class="modal-body">
        <p>This application, under the name ColonyManager, was originally developed by <a href="http://chrisjpierce.com" target="_blank">Chris Pierce</a>. It is designed to meet the unique needs of animal welfare groups that assist people caring for community cat colonies. 
		</p>
		<div class="well">
			<p>This application is running on Ruby version <%= RUBY_VERSION %>, Rails version <%= Rails.version %> in the <%= Rails.env %> environment.</p>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>