<!DOCTYPE html>
<html>
<head>
  <title><%= ENV['APPLICATION_NAME'] %></title>
  <%= render 'shared/map_cdns' %>
  <% if Rails.env.production? %>
  	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <% else %>
  	<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> <!-- no http: when using cloud9 IDE for development, if developing locally, add http: if you get Error Loading Chart: No adapter found
  <% end %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if params[:controller] == 'colonies' and params[:action] == 'map' %>
  <body data-no-turbolink="true">
<% else %>
  <body data-no-turbolink="false">
<% end %>

<div class="container-fluid">

	<%= render 'layouts/header' %>
	<% if notice  %>
	<div id="notice" class='alert alert-success'><h4><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <%= notice %></h4></div>
	<% end %>
	<% if alert %>
	<div id="alert" class='alert alert-danger'><h4><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <%= alert %></h4></div>
	<% end %>
	<%= yield %>
	
	<%= url_for(request.referrer) if Rails.env.development? %>
</div>
<%= render 'shared/javascripts' %>
</body>
</html>
